# one dimensional array

In [3]:
import numpy as np

 One-dimensional Arrays
 Q-1) MegaCity Builders is a construction company. They seek the help of their data analyst to generate employee codes from 1 to 1,000 for their part time work force, as they are not interested in RDBMS solution.

In [3]:
emp_code = np.arange(1,1001)
emp_code

array([   1,    2,    3,    4,    5,    6,    7,    8,    9,   10,   11,
         12,   13,   14,   15,   16,   17,   18,   19,   20,   21,   22,
         23,   24,   25,   26,   27,   28,   29,   30,   31,   32,   33,
         34,   35,   36,   37,   38,   39,   40,   41,   42,   43,   44,
         45,   46,   47,   48,   49,   50,   51,   52,   53,   54,   55,
         56,   57,   58,   59,   60,   61,   62,   63,   64,   65,   66,
         67,   68,   69,   70,   71,   72,   73,   74,   75,   76,   77,
         78,   79,   80,   81,   82,   83,   84,   85,   86,   87,   88,
         89,   90,   91,   92,   93,   94,   95,   96,   97,   98,   99,
        100,  101,  102,  103,  104,  105,  106,  107,  108,  109,  110,
        111,  112,  113,  114,  115,  116,  117,  118,  119,  120,  121,
        122,  123,  124,  125,  126,  127,  128,  129,  130,  131,  132,
        133,  134,  135,  136,  137,  138,  139,  140,  141,  142,  143,
        144,  145,  146,  147,  148,  149,  150,  151,  152,  153,  154,
        155,  156,  157,  158,  159,  160,  161,  162,  163,  164,  165,
        166,  167,  168,  169,  170,  171,  172,  173,  174,  175,  176,
        177,  178,  179,  180,  181,  182,  183,  184,  185,  186,  187,
        188,  189,  190,  191,  192,  193,  194,  195,  196,  197,  198,
        199,  200,  201,  202,  203,  204,  205,  206,  207,  208,  209,
        210,  211,  212,  213,  214,  215,  216,  217,  218,  219,  220,
        221,  222,  223,  224,  225,  226,  227,  228,  229,  230,  231,
        232,  233,  234,  235,  236,  237,  238,  239,  240,  241,  242,
        243,  244,  245,  246,  247,  248,  249,  250,  251,  252,  253,
        254,  255,  256,  257,  258,  259,  260,  261,  262,  263,  264,
        265,  266,  267,  268,  269,  270,  271,  272,  273,  274,  275,
        276,  277,  278,  279,  280,  281,  282,  283,  284,  285,  286,
        287,  288,  289,  290,  291,  292,  293,  294,  295,  296,  297,
        298,  299,  300,  301,  302,  303,  304,  305,  306,  307,  308,
        309,  310,  311,  312,  313,  314,  315,  316,  317,  318,  319,
        320,  321,  322,  323,  324,  325,  326,  327,  328,  329,  330,
        331,  332,  333,  334,  335,  336,  337,  338,  339,  340,  341,
        342,  343,  344,  345,  346,  347,  348,  349,  350,  351,  352,
        353,  354,  355,  356,  357,  358,  359,  360,  361,  362,  363,
        364,  365,  366,  367,  368,  369,  370,  371,  372,  373,  374,
        375,  376,  377,  378,  379,  380,  381,  382,  383,  384,  385,
        386,  387,  388,  389,  390,  391,  392,  393,  394,  395,  396,
        397,  398,  399,  400,  401,  402,  403,  404,  405,  406,  407,
        408,  409,  410,  411,  412,  413,  414,  415,  416,  417,  418,
        419,  420,  421,  422,  423,  424,  425,  426,  427,  428,  429,
        430,  431,  432,  433,  434,  435,  436,  437,  438,  439,  440,
        441,  442,  443,  444,  445,  446,  447,  448,  449,  450,  451,
        452,  453,  454,  455,  456,  457,  458,  459,  460,  461,  462,
        463,  464,  465,  466,  467,  468,  469,  470,  471,  472,  473,
        474,  475,  476,  477,  478,  479,  480,  481,  482,  483,  484,
        485,  486,  487,  488,  489,  490,  491,  492,  493,  494,  495,
        496,  497,  498,  499,  500,  501,  502,  503,  504,  505,  506,
        507,  508,  509,  510,  511,  512,  513,  514,  515,  516,  517,
        518,  519,  520,  521,  522,  523,  524,  525,  526,  527,  528,
        529,  530,  531,  532,  533,  534,  535,  536,  537,  538,  539,
        540,  541,  542,  543,  544,  545,  546,  547,  548,  549,  550,
        551,  552,  553,  554,  555,  556,  557,  558,  559,  560,  561,
        562,  563,  564,  565,  566,  567,  568,  569,  570,  571,  572,
        573,  574,  575,  576,  577,  578,  579,  580,  581,  582,  583,
        584,  585,  586,  587,  588,  589,  590,  591,  592,  593,  594,
        595,  596,  597,  598,  599,  600,  601,  602,  603,  604,  605,
        606,  607,  608,  609,  610,  611,  612,  613,  614,  615,  616,
        617,  618,  619,  620,  621,  622,  623,  624,  625,  626,  627,
        628,  629,  630,  631,  632,  633,  634,  635,  636,  637,  638,
        639,  640,  641,  642,  643,  644,  645,  646,  647,  648,  649,
        650,  651,  652,  653,  654,  655,  656,  657,  658,  659,  660,
        661,  662,  663,  664,  665,  666,  667,  668,  669,  670,  671,
        672,  673,  674,  675,  676,  677,  678,  679,  680,  681,  682,
        683,  684,  685,  686,  687,  688,  689,  690,  691,  692,  693,
        694,  695,  696,  697,  698,  699,  700,  701,  702,  703,  704,
        705,  706,  707,  708,  709,  710,  711,  712,  713,  714,  715,
        716,  717,  718,  719,  720,  721,  722,  723,  724,  725,  726,
        727,  728,  729,  730,  731,  732,  733,  734,  735,  736,  737,
        738,  739,  740,  741,  742,  743,  744,  745,  746,  747,  748,
        749,  750,  751,  752,  753,  754,  755,  756,  757,  758,  759,
        760,  761,  762,  763,  764,  765,  766,  767,  768,  769,  770,
        771,  772,  773,  774,  775,  776,  777,  778,  779,  780,  781,
        782,  783,  784,  785,  786,  787,  788,  789,  790,  791,  792,
        793,  794,  795,  796,  797,  798,  799,  800,  801,  802,  803,
        804,  805,  806,  807,  808,  809,  810,  811,  812,  813,  814,
        815,  816,  817,  818,  819,  820,  821,  822,  823,  824,  825,
        826,  827,  828,  829,  830,  831,  832,  833,  834,  835,  836,
        837,  838,  839,  840,  841,  842,  843,  844,  845,  846,  847,
        848,  849,  850,  851,  852,  853,  854,  855,  856,  857,  858,
        859,  860,  861,  862,  863,  864,  865,  866,  867,  868,  869,
        870,  871,  872,  873,  874,  875,  876,  877,  878,  879,  880,
        881,  882,  883,  884,  885,  886,  887,  888,  889,  890,  891,
        892,  893,  894,  895,  896,  897,  898,  899,  900,  901,  902,
        903,  904,  905,  906,  907,  908,  909,  910,  911,  912,  913,
        914,  915,  916,  917,  918,  919,  920,  921,  922,  923,  924,
        925,  926,  927,  928,  929,  930,  931,  932,  933,  934,  935,
        936,  937,  938,  939,  940,  941,  942,  943,  944,  945,  946,
        947,  948,  949,  950,  951,  952,  953,  954,  955,  956,  957,
        958,  959,  960,  961,  962,  963,  964,  965,  966,  967,  968,
        969,  970,  971,  972,  973,  974,  975,  976,  977,  978,  979,
        980,  981,  982,  983,  984,  985,  986,  987,  988,  989,  990,
        991,  992,  993,  994,  995,  996,  997,  998,  999, 1000])

In [4]:
#generate numbers from 201 to 700

number = np.arange(201,701)
number

 Q-2)  MegaCity Builders has a total of 1,000 part-time employees. The annual salaries of these employees lie between $10,000 and $20,000. The company wishes to find the average annual salary of the employees.

In [5]:
salary = np.random.randint(10000,20000,1000)
salary

array([15000, 15055, 10983, 11245, 15112, 19467, 16066, 19053, 17374,
       18948, 13615, 19268, 13118, 14202, 19796, 18063, 14886, 15920,
       17244, 12966, 18595, 16855, 16621, 19943, 10581, 11026, 14542,
       17022, 17242, 13072, 13164, 11904, 17048, 17584, 14333, 19380,
       16171, 13260, 14671, 12765, 16717, 11091, 15995, 16251, 13735,
       12840, 17338, 11434, 13055, 14026, 14582, 15950, 12726, 14331,
       16189, 11195, 12518, 10569, 12811, 17370, 15794, 18404, 16706,
       10706, 18845, 17280, 18591, 12536, 14981, 12225, 10106, 11775,
       17404, 16495, 15489, 10333, 17137, 16223, 12657, 16882, 12463,
       10156, 18559, 15764, 12768, 11875, 16112, 10457, 16825, 17260,
       14793, 15830, 10172, 15186, 19348, 13266, 12930, 19499, 12551,
       16133, 17149, 13552, 16501, 10707, 11029, 16094, 14077, 12914,
       18853, 16912, 19495, 10107, 16496, 16443, 18788, 12980, 15895,
       19804, 19748, 17705, 11452, 15534, 19852, 11332, 12064, 10336,
       13899, 15147, 17603, 12305, 15921, 18013, 17555, 11589, 15353,
       15681, 16219, 19617, 19495, 16160, 10392, 11308, 16746, 17538,
       13778, 11128, 16750, 12045, 10931, 17436, 14937, 10266, 14553,
       10761, 13104, 17695, 16595, 16126, 14107, 13297, 17170, 11696,
       18694, 11058, 17336, 17129, 14726, 14645, 15829, 10616, 12215,
       13853, 13811, 15847, 12409, 19624, 17648, 12157, 15915, 14257,
       10370, 12265, 18778, 11124, 14724, 11628, 12406, 12460, 14330,
       17702, 10259, 16556, 11656, 16381, 19172, 16253, 17582, 18606,
       12389, 19881, 12127, 13487, 18400, 11218, 16835, 19483, 19640,
       19122, 10944, 17135, 17562, 16431, 19040, 13167, 17118, 12356,
       15154, 10024, 18970, 17107, 12994, 10131, 19024, 14731, 13481,
       13786, 15631, 17712, 17936, 19397, 13182, 10955, 11544, 19789,
       15360, 16303, 16000, 13318, 17831, 11398, 10604, 17314, 15146,
       12527, 12529, 13492, 10765, 10684, 16935, 17650, 18578, 14390,
       18852, 14920, 11104, 18140, 13805, 11471, 19248, 10763, 10742,
       19760, 16263, 19331, 15569, 10680, 13000, 11605, 19472, 18963,
       15385, 17427, 19390, 11398, 12860, 18634, 15702, 10155, 14643,
       10360, 15330, 13597, 15661, 18052, 15572, 11475, 16036, 10033,
       19677, 17043, 18169, 16113, 17049, 17053, 14000, 15199, 12388,
       18444, 16106, 16104, 13397, 19540, 10057, 15908, 19810, 19058,
       19516, 15666, 18819, 17072, 15382, 10751, 18750, 15750, 10742,
       17744, 13976, 12816, 10302, 11683, 16679, 10321, 18757, 14912,
       18064, 11425, 17690, 15304, 17105, 18649, 11617, 15815, 16661,
       18098, 12763, 11853, 13331, 16715, 12280, 11674, 13715, 17475,
       17037, 16381, 12589, 18629, 14000, 16903, 16602, 19050, 13741,
       16201, 12781, 14050, 11084, 11715, 10302, 14150, 17322, 13894,
       19580, 13109, 11734, 15575, 15512, 11348, 19134, 13550, 13051,
       19852, 17627, 13317, 16206, 19327, 16459, 12367, 14585, 17042,
       19644, 19975, 11123, 19740, 19509, 16982, 11170, 16061, 13019,
       11003, 14480, 16536, 19168, 10049, 16199, 12297, 11588, 10012,
       13111, 15160, 11581, 17991, 18127, 13728, 15681, 10755, 13291,
       11669, 13451, 16454, 10275, 19050, 12160, 16107, 10441, 13479,
       18661, 12947, 19562, 13001, 18757, 12307, 12463, 13988, 14403,
       11842, 11601, 12872, 13594, 18410, 12973, 13656, 17994, 17889,
       11809, 11989, 16284, 19206, 15105, 16825, 16658, 12221, 11695,
       10817, 15330, 14644, 19734, 10974, 15755, 18591, 14976, 10269,
       11901, 18075, 17880, 18096, 18609, 16470, 16694, 18646, 14961,
       17345, 18475, 18705, 19227, 12268, 16866, 19770, 12098, 13123,
       10497, 17649, 18625, 14356, 15926, 11644, 13413, 15809, 15096,
       12752, 14113, 12022, 17322, 17994, 12254, 19552, 13038, 10441,
       17845, 15355, 17483, 12374, 14019, 10901, 15351, 17707, 13873,
       15435, 17908, 15420, 14775, 17146, 11816, 12447, 17644, 19177,
       12812, 15348, 18749, 15736, 11424, 11126, 16228, 17763, 15897,
       19433, 12285, 14185, 10973, 19418, 18728, 12432, 16506, 18244,
       10173, 13356, 17422, 19928, 14514, 14725, 17959, 11989, 19209,
       14424, 14628, 13491, 15583, 11021, 15117, 12929, 19159, 10085,
       13771, 17600, 10563, 18404, 14115, 18614, 13879, 13191, 14755,
       15968, 13059, 14786, 18812, 19268, 13897, 13638, 14926, 10379,
       17216, 12182, 16169, 13239, 13097, 13222, 10842, 10493, 14309,
       17646, 16724, 15497, 15135, 16192, 10503, 11959, 15145, 10782,
       10304, 15970, 17933, 11077, 10087, 19958, 15790, 10066, 14538,
       17768, 15460, 11825, 15471, 18835, 19718, 15266, 14131, 15471,
       19618, 13407, 11622, 15195, 17986, 13802, 13881, 19134, 17485,
       16124, 15371, 14562, 10275, 16991, 10649, 14159, 12897, 12993,
       18428, 15976, 13773, 10836, 16142, 15464, 12074, 17241, 13778,
       17652, 18765, 14957, 19896, 13933, 14140, 17862, 18552, 11955,
       18964, 12906, 16084, 13733, 14341, 12757, 15422, 12838, 16343,
       17599, 16569, 16872, 19972, 12132, 11899, 12264, 18065, 13634,
       16301, 13489, 16746, 12435, 13063, 15807, 17728, 17729, 11799,
       15256, 15019, 18112, 14684, 19503, 10915, 15952, 10982, 17350,
       12673, 15478, 12002, 12418, 15054, 16393, 10550, 13818, 10038,
       10346, 19355, 17326, 15899, 18024, 14719, 17866, 16822, 14214,
       10894, 11596, 16704, 18596, 19674, 12039, 18823, 10549, 12975,
       18483, 11940, 18118, 19321, 10643, 18257, 15521, 18212, 18523,
       15011, 10116, 15016, 11286, 19788, 11119, 17370, 11549, 10680,
       10306, 13916, 17058, 11282, 14087, 11884, 15337, 18695, 16898,
       13641, 16541, 16794, 15259, 16326, 15876, 13529, 13038, 12622,
       19357, 17757, 13264, 18954, 10545, 17202, 19487, 17339, 14500,
       17915, 13288, 18833, 12099, 19746, 12959, 18215, 17657, 11467,
       18297, 18302, 14823, 15254, 19173, 17043, 15455, 12596, 17381,
       12217, 11437, 14506, 17213, 19143, 18501, 19555, 13768, 19217,
       11088, 16842, 19584, 10000, 12316, 17720, 10956, 13546, 13499,
       11319, 13756, 10721, 19140, 15934, 13590, 11973, 15619, 19730,
       15368, 13778, 13203, 16964, 15890, 18130, 14056, 15538, 14845,
       12786, 12842, 10123, 12145, 12558, 15139, 11763, 16825, 18036,
       16090, 10050, 15581, 13697, 15164, 13519, 13939, 12817, 10238,
       10395, 14020, 10921, 15323, 16623, 15386, 17657, 17230, 10287,
       12885, 12601, 12016, 11344, 16250, 16580, 15499, 19381, 10458,
       19503, 11027, 15511, 15194, 17317, 14131, 17556, 14500, 11175,
       13866, 16610, 10666, 19808, 16492, 15218, 11364, 12636, 19246,
       17681, 19033, 12873, 10866, 10619, 19314, 17687, 15390, 16443,
       14684, 11034, 18885, 14170, 19781, 16723, 11137, 14387, 16420,
       10068, 11765, 10142, 12385, 13116, 18812, 12244, 17057, 10588,
       19654, 12221, 19475, 13896, 14099, 15177, 14267, 10980, 16762,
       13035, 19195, 15343, 17151, 16851, 10369, 16691, 15691, 12080,
       15510, 15956, 18827, 12277, 16015, 13600, 11244, 15892, 13091,
       12817, 15343, 13244, 14713, 16178, 11064, 10903, 12248, 10531,
       13413, 12410, 17380, 16170, 12061, 10835, 14532, 18407, 15717,
       14561, 12720, 17952, 18226, 18541, 19675, 14536, 10149, 15598,
       16383, 14640, 19096, 18996, 14029, 19537, 17926, 18587, 19546,
       15730, 12089, 15768, 19364, 17099, 18281, 10166, 13225, 11867,
       14214, 16184, 19125, 12552, 14842, 11139, 11894, 18459, 12293,
       17154, 19863, 13655, 18991, 13649, 11732, 16185, 16715, 14556,
       18285, 19352, 16987, 15279, 17416, 10149, 11949, 18347, 11101,
       12371, 15089, 14682, 17931, 15279, 19041, 17673, 14051, 14536,
       12121, 12693, 10771, 16592, 14514, 18604, 10312, 14197, 13804,
       12980, 13482, 18711, 15790, 18535, 12217, 14951, 13655, 12076,
       15930])

In [6]:
avg_salary = np.mean(salary)             #here , used np.mean to find the average of the salary
avg_salary

14988.798

In [7]:
#generate 500 such numbers here salary is 20000 to 30000

sal = np.random.randint(20000,30000,500)
sal

 Q-3) The HR wishes to know how many employees are getting salaries more than $15,000 per year.

In [8]:
salary.size

1000

In [9]:
indx = salary>15000

In [10]:
index = np.where(indx)               #index, so it will tell use the index point where the salaries are greater than 15k 
index

(array([  1,   4,   5,   6,   7,   8,   9,  11,  14,  15,  17,  18,  20,
         21,  22,  23,  27,  28,  32,  33,  35,  36,  40,  42,  43,  46,
         51,  54,  59,  60,  61,  62,  64,  65,  66,  72,  73,  74,  76,
         77,  79,  82,  83,  86,  88,  89,  91,  93,  94,  97,  99, 100,
        102, 105, 108, 109, 110, 112, 113, 114, 116, 117, 118, 119, 121,
        122, 127, 128, 130, 131, 132, 134, 135, 136, 137, 138, 139, 142,
        143, 146, 149, 155, 156, 157, 160, 162, 164, 165, 168, 173, 175,
        176, 178, 182, 189, 191, 193, 194, 195, 196, 197, 199, 202, 204,
        205, 206, 207, 209, 210, 211, 212, 214, 216, 218, 219, 222, 226,
        227, 228, 229, 233, 234, 235, 236, 238, 241, 242, 248, 249, 250,
        252, 255, 258, 261, 262, 263, 264, 268, 269, 270, 271, 272, 275,
        276, 280, 282, 283, 284, 286, 288, 289, 290, 291, 292, 293, 295,
        297, 298, 299, 301, 303, 304, 305, 306, 307, 308, 309, 310, 312,
        313, 315, 320, 322, 324, 326, 327, 328, 329, 331, 332, 333, 337,
        341, 342, 343, 345, 347, 348, 349, 351, 358, 360, 363, 364, 366,
        369, 370, 372, 373, 374, 377, 378, 379, 381, 382, 383, 385, 389,
        390, 392, 397, 399, 400, 402, 407, 409, 411, 414, 416, 418, 427,
        430, 431, 434, 435, 436, 437, 438, 442, 444, 446, 447, 451, 452,
        453, 454, 455, 456, 457, 459, 460, 461, 462, 464, 465, 469, 470,
        472, 475, 476, 480, 481, 483, 486, 487, 488, 492, 493, 495, 496,
        497, 499, 502, 503, 505, 506, 507, 510, 511, 512, 513, 517, 518,
        520, 521, 524, 525, 528, 530, 534, 536, 538, 541, 543, 545, 549,
        552, 553, 558, 560, 567, 568, 569, 570, 571, 574, 577, 578, 581,
        582, 585, 586, 588, 589, 590, 591, 593, 594, 597, 598, 601, 602,
        603, 604, 607, 612, 613, 616, 617, 619, 621, 622, 624, 627, 628,
        630, 632, 636, 638, 639, 640, 641, 642, 646, 648, 650, 653, 654,
        655, 657, 658, 659, 661, 663, 665, 667, 670, 671, 676, 677, 678,
        679, 681, 682, 686, 687, 688, 690, 693, 695, 696, 698, 699, 700,
        701, 702, 704, 706, 708, 713, 717, 718, 719, 721, 722, 723, 724,
        725, 729, 730, 732, 734, 735, 736, 738, 740, 742, 744, 745, 747,
        748, 750, 751, 752, 753, 755, 759, 760, 761, 762, 764, 766, 767,
        770, 777, 778, 781, 782, 783, 786, 787, 788, 790, 797, 799, 800,
        801, 803, 805, 813, 814, 815, 816, 817, 823, 824, 825, 826, 828,
        830, 831, 832, 834, 838, 840, 841, 842, 845, 846, 847, 851, 852,
        853, 854, 857, 859, 860, 863, 869, 871, 873, 875, 878, 881, 883,
        884, 885, 886, 888, 889, 891, 892, 893, 895, 898, 901, 904, 911,
        912, 916, 917, 920, 921, 922, 923, 926, 927, 929, 930, 932, 933,
        934, 935, 936, 938, 939, 940, 941, 946, 947, 952, 954, 955, 957,
        960, 961, 963, 964, 965, 966, 967, 970, 973, 975, 976, 977, 978,
        984, 986, 992, 993, 994, 999], dtype=int64),)

In [11]:
salary[10]         #example if we want to see the salary

13615

In [12]:
salary [1:100]

array([15055, 10983, 11245, 15112, 19467, 16066, 19053, 17374, 18948,
       13615, 19268, 13118, 14202, 19796, 18063, 14886, 15920, 17244,
       12966, 18595, 16855, 16621, 19943, 10581, 11026, 14542, 17022,
       17242, 13072, 13164, 11904, 17048, 17584, 14333, 19380, 16171,
       13260, 14671, 12765, 16717, 11091, 15995, 16251, 13735, 12840,
       17338, 11434, 13055, 14026, 14582, 15950, 12726, 14331, 16189,
       11195, 12518, 10569, 12811, 17370, 15794, 18404, 16706, 10706,
       18845, 17280, 18591, 12536, 14981, 12225, 10106, 11775, 17404,
       16495, 15489, 10333, 17137, 16223, 12657, 16882, 12463, 10156,
       18559, 15764, 12768, 11875, 16112, 10457, 16825, 17260, 14793,
       15830, 10172, 15186, 19348, 13266, 12930, 19499, 12551, 16133])

In [13]:
salary[index]          #these are the salaries which are greater than 15k

array([15055, 15112, 19467, 16066, 19053, 17374, 18948, 19268, 19796,
       18063, 15920, 17244, 18595, 16855, 16621, 19943, 17022, 17242,
       17048, 17584, 19380, 16171, 16717, 15995, 16251, 17338, 15950,
       16189, 17370, 15794, 18404, 16706, 18845, 17280, 18591, 17404,
       16495, 15489, 17137, 16223, 16882, 18559, 15764, 16112, 16825,
       17260, 15830, 15186, 19348, 19499, 16133, 17149, 16501, 16094,
       18853, 16912, 19495, 16496, 16443, 18788, 15895, 19804, 19748,
       17705, 15534, 19852, 15147, 17603, 15921, 18013, 17555, 15353,
       15681, 16219, 19617, 19495, 16160, 16746, 17538, 16750, 17436,
       17695, 16595, 16126, 17170, 18694, 17336, 17129, 15829, 15847,
       19624, 17648, 15915, 18778, 17702, 16556, 16381, 19172, 16253,
       17582, 18606, 19881, 18400, 16835, 19483, 19640, 19122, 17135,
       17562, 16431, 19040, 17118, 15154, 18970, 17107, 19024, 15631,
       17712, 17936, 19397, 19789, 15360, 16303, 16000, 17831, 17314,
       15146, 16935, 17650, 18578, 18852, 18140, 19248, 19760, 16263,
       19331, 15569, 19472, 18963, 15385, 17427, 19390, 18634, 15702,
       15330, 15661, 18052, 15572, 16036, 19677, 17043, 18169, 16113,
       17049, 17053, 15199, 18444, 16106, 16104, 19540, 15908, 19810,
       19058, 19516, 15666, 18819, 17072, 15382, 18750, 15750, 17744,
       16679, 18757, 18064, 17690, 15304, 17105, 18649, 15815, 16661,
       18098, 16715, 17475, 17037, 16381, 18629, 16903, 16602, 19050,
       16201, 17322, 19580, 15575, 15512, 19134, 19852, 17627, 16206,
       19327, 16459, 17042, 19644, 19975, 19740, 19509, 16982, 16061,
       16536, 19168, 16199, 15160, 17991, 18127, 15681, 16454, 19050,
       16107, 18661, 19562, 18757, 18410, 17994, 17889, 16284, 19206,
       15105, 16825, 16658, 15330, 19734, 15755, 18591, 18075, 17880,
       18096, 18609, 16470, 16694, 18646, 17345, 18475, 18705, 19227,
       16866, 19770, 17649, 18625, 15926, 15809, 15096, 17322, 17994,
       19552, 17845, 15355, 17483, 15351, 17707, 15435, 17908, 15420,
       17146, 17644, 19177, 15348, 18749, 15736, 16228, 17763, 15897,
       19433, 19418, 18728, 16506, 18244, 17422, 19928, 17959, 19209,
       15583, 15117, 19159, 17600, 18404, 18614, 15968, 18812, 19268,
       17216, 16169, 17646, 16724, 15497, 15135, 16192, 15145, 15970,
       17933, 19958, 15790, 17768, 15460, 15471, 18835, 19718, 15266,
       15471, 19618, 15195, 17986, 19134, 17485, 16124, 15371, 16991,
       18428, 15976, 16142, 15464, 17241, 17652, 18765, 19896, 17862,
       18552, 18964, 16084, 15422, 16343, 17599, 16569, 16872, 19972,
       18065, 16301, 16746, 15807, 17728, 17729, 15256, 15019, 18112,
       19503, 15952, 17350, 15478, 15054, 16393, 19355, 17326, 15899,
       18024, 17866, 16822, 16704, 18596, 19674, 18823, 18483, 18118,
       19321, 18257, 15521, 18212, 18523, 15011, 15016, 19788, 17370,
       17058, 15337, 18695, 16898, 16541, 16794, 15259, 16326, 15876,
       19357, 17757, 18954, 17202, 19487, 17339, 17915, 18833, 19746,
       18215, 17657, 18297, 18302, 15254, 19173, 17043, 15455, 17381,
       17213, 19143, 18501, 19555, 19217, 16842, 19584, 17720, 19140,
       15934, 15619, 19730, 15368, 16964, 15890, 18130, 15538, 15139,
       16825, 18036, 16090, 15581, 15164, 15323, 16623, 15386, 17657,
       17230, 16250, 16580, 15499, 19381, 19503, 15511, 15194, 17317,
       17556, 16610, 19808, 16492, 15218, 19246, 17681, 19033, 19314,
       17687, 15390, 16443, 18885, 19781, 16723, 16420, 18812, 17057,
       19654, 19475, 15177, 16762, 19195, 15343, 17151, 16851, 16691,
       15691, 15510, 15956, 18827, 16015, 15892, 15343, 16178, 17380,
       16170, 18407, 15717, 17952, 18226, 18541, 19675, 15598, 16383,
       19096, 18996, 19537, 17926, 18587, 19546, 15730, 15768, 19364,
       17099, 18281, 16184, 19125, 18459, 17154, 19863, 18991, 16185,
       16715, 18285, 19352, 16987, 15279, 17416, 18347, 15089, 17931,
       15279, 19041, 17673, 16592, 18604, 18711, 15790, 18535, 15930])

In [14]:
salary[index].size

513

In [15]:
#find out how many people having salary greater than 17000

In [16]:
inx = salary>17000

In [17]:
index = np.where(inx)
index

(array([  5,   7,   8,   9,  11,  14,  15,  18,  20,  23,  27,  28,  32,
         33,  35,  46,  59,  61,  64,  65,  66,  72,  76,  82,  89,  94,
         97, 100, 108, 110, 114, 117, 118, 119, 122, 128, 131, 132, 137,
        138, 143, 149, 155, 160, 162, 164, 165, 175, 176, 182, 189, 194,
        196, 197, 199, 202, 205, 206, 207, 209, 210, 212, 214, 218, 219,
        222, 227, 228, 229, 233, 238, 241, 249, 250, 252, 255, 258, 261,
        263, 268, 269, 271, 272, 275, 283, 288, 289, 290, 292, 293, 297,
        301, 304, 305, 306, 308, 309, 312, 315, 322, 324, 326, 328, 329,
        333, 341, 342, 345, 349, 358, 360, 366, 369, 370, 373, 377, 378,
        379, 381, 382, 390, 399, 400, 409, 414, 416, 418, 427, 430, 431,
        435, 444, 447, 451, 452, 453, 454, 457, 459, 460, 461, 462, 465,
        469, 470, 480, 481, 483, 486, 488, 493, 496, 499, 502, 503, 506,
        511, 513, 517, 518, 521, 524, 525, 528, 530, 538, 541, 543, 545,
        552, 553, 558, 567, 578, 581, 585, 589, 590, 594, 598, 601, 602,
        612, 619, 621, 622, 624, 627, 628, 630, 639, 642, 646, 654, 655,
        659, 661, 665, 676, 677, 679, 681, 687, 688, 690, 693, 695, 696,
        698, 700, 701, 706, 708, 713, 718, 729, 730, 732, 734, 735, 736,
        738, 740, 742, 744, 745, 747, 748, 751, 752, 755, 759, 760, 761,
        762, 764, 767, 770, 777, 782, 788, 800, 816, 817, 826, 828, 832,
        834, 840, 845, 846, 847, 851, 852, 857, 859, 869, 871, 873, 875,
        883, 885, 893, 911, 916, 920, 921, 922, 923, 929, 930, 932, 933,
        934, 935, 939, 940, 941, 947, 952, 954, 955, 957, 963, 964, 967,
        970, 975, 977, 978, 986, 992, 994], dtype=int64),)

In [18]:
salary[index]

array([19467, 19053, 17374, 18948, 19268, 19796, 18063, 17244, 18595,
       19943, 17022, 17242, 17048, 17584, 19380, 17338, 17370, 18404,
       18845, 17280, 18591, 17404, 17137, 18559, 17260, 19348, 19499,
       17149, 18853, 19495, 18788, 19804, 19748, 17705, 19852, 17603,
       18013, 17555, 19617, 19495, 17538, 17436, 17695, 17170, 18694,
       17336, 17129, 19624, 17648, 18778, 17702, 19172, 17582, 18606,
       19881, 18400, 19483, 19640, 19122, 17135, 17562, 19040, 17118,
       18970, 17107, 19024, 17712, 17936, 19397, 19789, 17831, 17314,
       17650, 18578, 18852, 18140, 19248, 19760, 19331, 19472, 18963,
       17427, 19390, 18634, 18052, 19677, 17043, 18169, 17049, 17053,
       18444, 19540, 19810, 19058, 19516, 18819, 17072, 18750, 17744,
       18757, 18064, 17690, 17105, 18649, 18098, 17475, 17037, 18629,
       19050, 17322, 19580, 19134, 19852, 17627, 19327, 17042, 19644,
       19975, 19740, 19509, 19168, 17991, 18127, 19050, 18661, 19562,
       18757, 18410, 17994, 17889, 19206, 19734, 18591, 18075, 17880,
       18096, 18609, 18646, 17345, 18475, 18705, 19227, 19770, 17649,
       18625, 17322, 17994, 19552, 17845, 17483, 17707, 17908, 17146,
       17644, 19177, 18749, 17763, 19433, 19418, 18728, 18244, 17422,
       19928, 17959, 19209, 19159, 17600, 18404, 18614, 18812, 19268,
       17216, 17646, 17933, 19958, 17768, 18835, 19718, 19618, 17986,
       19134, 17485, 18428, 17241, 17652, 18765, 19896, 17862, 18552,
       18964, 17599, 19972, 18065, 17728, 17729, 18112, 19503, 17350,
       19355, 17326, 18024, 17866, 18596, 19674, 18823, 18483, 18118,
       19321, 18257, 18212, 18523, 19788, 17370, 17058, 18695, 19357,
       17757, 18954, 17202, 19487, 17339, 17915, 18833, 19746, 18215,
       17657, 18297, 18302, 19173, 17043, 17381, 17213, 19143, 18501,
       19555, 19217, 19584, 17720, 19140, 19730, 18130, 18036, 17657,
       17230, 19381, 19503, 17317, 17556, 19808, 19246, 17681, 19033,
       19314, 17687, 18885, 19781, 18812, 17057, 19654, 19475, 19195,
       17151, 18827, 17380, 18407, 17952, 18226, 18541, 19675, 19096,
       18996, 19537, 17926, 18587, 19546, 19364, 17099, 18281, 19125,
       18459, 17154, 19863, 18991, 18285, 19352, 17416, 18347, 17931,
       19041, 17673, 18604, 18711, 18535])

In [19]:
salary[index].size

293

 Q-4) The employees with the codes 5, 124, 200, 332, 420, 589, 665, 743, 887, and 901 want to resign. As per the policy, the company does not save the data of part-time employees once they resign.  How can you delete the record/data of these employees? Consider the array "dup" to contain a copy of the employee codes.

In [1]:
dup  = emp_code.copy()

NameError: name 'emp_code' is not defined

In [21]:
t1 = ( 5-1, 124-1, 200-1, 332-1, 420-1, 589-1, 665-1, 743-1, 887-1, 901-1)

number       #Example

deleted = np.delete(number,0 ,axis= 0)
deleted

np.delete(deleted, 6 ,axis= 0)

In [22]:
new_dup = np.delete(emp_code, t1, axis = 0)
new_dup

array([   1,    2,    3,    4,    6,    7,    8,    9,   10,   11,   12,
         13,   14,   15,   16,   17,   18,   19,   20,   21,   22,   23,
         24,   25,   26,   27,   28,   29,   30,   31,   32,   33,   34,
         35,   36,   37,   38,   39,   40,   41,   42,   43,   44,   45,
         46,   47,   48,   49,   50,   51,   52,   53,   54,   55,   56,
         57,   58,   59,   60,   61,   62,   63,   64,   65,   66,   67,
         68,   69,   70,   71,   72,   73,   74,   75,   76,   77,   78,
         79,   80,   81,   82,   83,   84,   85,   86,   87,   88,   89,
         90,   91,   92,   93,   94,   95,   96,   97,   98,   99,  100,
        101,  102,  103,  104,  105,  106,  107,  108,  109,  110,  111,
        112,  113,  114,  115,  116,  117,  118,  119,  120,  121,  122,
        123,  125,  126,  127,  128,  129,  130,  131,  132,  133,  134,
        135,  136,  137,  138,  139,  140,  141,  142,  143,  144,  145,
        146,  147,  148,  149,  150,  151,  152,  153,  154,  155,  156,
        157,  158,  159,  160,  161,  162,  163,  164,  165,  166,  167,
        168,  169,  170,  171,  172,  173,  174,  175,  176,  177,  178,
        179,  180,  181,  182,  183,  184,  185,  186,  187,  188,  189,
        190,  191,  192,  193,  194,  195,  196,  197,  198,  199,  201,
        202,  203,  204,  205,  206,  207,  208,  209,  210,  211,  212,
        213,  214,  215,  216,  217,  218,  219,  220,  221,  222,  223,
        224,  225,  226,  227,  228,  229,  230,  231,  232,  233,  234,
        235,  236,  237,  238,  239,  240,  241,  242,  243,  244,  245,
        246,  247,  248,  249,  250,  251,  252,  253,  254,  255,  256,
        257,  258,  259,  260,  261,  262,  263,  264,  265,  266,  267,
        268,  269,  270,  271,  272,  273,  274,  275,  276,  277,  278,
        279,  280,  281,  282,  283,  284,  285,  286,  287,  288,  289,
        290,  291,  292,  293,  294,  295,  296,  297,  298,  299,  300,
        301,  302,  303,  304,  305,  306,  307,  308,  309,  310,  311,
        312,  313,  314,  315,  316,  317,  318,  319,  320,  321,  322,
        323,  324,  325,  326,  327,  328,  329,  330,  331,  333,  334,
        335,  336,  337,  338,  339,  340,  341,  342,  343,  344,  345,
        346,  347,  348,  349,  350,  351,  352,  353,  354,  355,  356,
        357,  358,  359,  360,  361,  362,  363,  364,  365,  366,  367,
        368,  369,  370,  371,  372,  373,  374,  375,  376,  377,  378,
        379,  380,  381,  382,  383,  384,  385,  386,  387,  388,  389,
        390,  391,  392,  393,  394,  395,  396,  397,  398,  399,  400,
        401,  402,  403,  404,  405,  406,  407,  408,  409,  410,  411,
        412,  413,  414,  415,  416,  417,  418,  419,  421,  422,  423,
        424,  425,  426,  427,  428,  429,  430,  431,  432,  433,  434,
        435,  436,  437,  438,  439,  440,  441,  442,  443,  444,  445,
        446,  447,  448,  449,  450,  451,  452,  453,  454,  455,  456,
        457,  458,  459,  460,  461,  462,  463,  464,  465,  466,  467,
        468,  469,  470,  471,  472,  473,  474,  475,  476,  477,  478,
        479,  480,  481,  482,  483,  484,  485,  486,  487,  488,  489,
        490,  491,  492,  493,  494,  495,  496,  497,  498,  499,  500,
        501,  502,  503,  504,  505,  506,  507,  508,  509,  510,  511,
        512,  513,  514,  515,  516,  517,  518,  519,  520,  521,  522,
        523,  524,  525,  526,  527,  528,  529,  530,  531,  532,  533,
        534,  535,  536,  537,  538,  539,  540,  541,  542,  543,  544,
        545,  546,  547,  548,  549,  550,  551,  552,  553,  554,  555,
        556,  557,  558,  559,  560,  561,  562,  563,  564,  565,  566,
        567,  568,  569,  570,  571,  572,  573,  574,  575,  576,  577,
        578,  579,  580,  581,  582,  583,  584,  585,  586,  587,  588,
        590,  591,  592,  593,  594,  595,  596,  597,  598,  599,  600,
        601,  602,  603,  604,  605,  606,  607,  608,  609,  610,  611,
        612,  613,  614,  615,  616,  617,  618,  619,  620,  621,  622,
        623,  624,  625,  626,  627,  628,  629,  630,  631,  632,  633,
        634,  635,  636,  637,  638,  639,  640,  641,  642,  643,  644,
        645,  646,  647,  648,  649,  650,  651,  652,  653,  654,  655,
        656,  657,  658,  659,  660,  661,  662,  663,  664,  666,  667,
        668,  669,  670,  671,  672,  673,  674,  675,  676,  677,  678,
        679,  680,  681,  682,  683,  684,  685,  686,  687,  688,  689,
        690,  691,  692,  693,  694,  695,  696,  697,  698,  699,  700,
        701,  702,  703,  704,  705,  706,  707,  708,  709,  710,  711,
        712,  713,  714,  715,  716,  717,  718,  719,  720,  721,  722,
        723,  724,  725,  726,  727,  728,  729,  730,  731,  732,  733,
        734,  735,  736,  737,  738,  739,  740,  741,  742,  744,  745,
        746,  747,  748,  749,  750,  751,  752,  753,  754,  755,  756,
        757,  758,  759,  760,  761,  762,  763,  764,  765,  766,  767,
        768,  769,  770,  771,  772,  773,  774,  775,  776,  777,  778,
        779,  780,  781,  782,  783,  784,  785,  786,  787,  788,  789,
        790,  791,  792,  793,  794,  795,  796,  797,  798,  799,  800,
        801,  802,  803,  804,  805,  806,  807,  808,  809,  810,  811,
        812,  813,  814,  815,  816,  817,  818,  819,  820,  821,  822,
        823,  824,  825,  826,  827,  828,  829,  830,  831,  832,  833,
        834,  835,  836,  837,  838,  839,  840,  841,  842,  843,  844,
        845,  846,  847,  848,  849,  850,  851,  852,  853,  854,  855,
        856,  857,  858,  859,  860,  861,  862,  863,  864,  865,  866,
        867,  868,  869,  870,  871,  872,  873,  874,  875,  876,  877,
        878,  879,  880,  881,  882,  883,  884,  885,  886,  888,  889,
        890,  891,  892,  893,  894,  895,  896,  897,  898,  899,  900,
        902,  903,  904,  905,  906,  907,  908,  909,  910,  911,  912,
        913,  914,  915,  916,  917,  918,  919,  920,  921,  922,  923,
        924,  925,  926,  927,  928,  929,  930,  931,  932,  933,  934,
        935,  936,  937,  938,  939,  940,  941,  942,  943,  944,  945,
        946,  947,  948,  949,  950,  951,  952,  953,  954,  955,  956,
        957,  958,  959,  960,  961,  962,  963,  964,  965,  966,  967,
        968,  969,  970,  971,  972,  973,  974,  975,  976,  977,  978,
        979,  980,  981,  982,  983,  984,  985,  986,  987,  988,  989,
        990,  991,  992,  993,  994,  995,  996,  997,  998,  999, 1000])

 Q-5) The HR wants to hire 10 new employees, assign them the employee codes from 1001 to 1010, and add the data in the existing employee codes. How can you accomplish this task? Consider the array "empid" which originally contains the employee IDs.

In [23]:
new_emp = np.arange(1001,1011)
new_emp

array([1001, 1002, 1003, 1004, 1005, 1006, 1007, 1008, 1009, 1010])

In [24]:
emp_code = np.append(new_dup,new_emp)
emp_code

array([   1,    2,    3,    4,    6,    7,    8,    9,   10,   11,   12,
         13,   14,   15,   16,   17,   18,   19,   20,   21,   22,   23,
         24,   25,   26,   27,   28,   29,   30,   31,   32,   33,   34,
         35,   36,   37,   38,   39,   40,   41,   42,   43,   44,   45,
         46,   47,   48,   49,   50,   51,   52,   53,   54,   55,   56,
         57,   58,   59,   60,   61,   62,   63,   64,   65,   66,   67,
         68,   69,   70,   71,   72,   73,   74,   75,   76,   77,   78,
         79,   80,   81,   82,   83,   84,   85,   86,   87,   88,   89,
         90,   91,   92,   93,   94,   95,   96,   97,   98,   99,  100,
        101,  102,  103,  104,  105,  106,  107,  108,  109,  110,  111,
        112,  113,  114,  115,  116,  117,  118,  119,  120,  121,  122,
        123,  125,  126,  127,  128,  129,  130,  131,  132,  133,  134,
        135,  136,  137,  138,  139,  140,  141,  142,  143,  144,  145,
        146,  147,  148,  149,  150,  151,  152,  153,  154,  155,  156,
        157,  158,  159,  160,  161,  162,  163,  164,  165,  166,  167,
        168,  169,  170,  171,  172,  173,  174,  175,  176,  177,  178,
        179,  180,  181,  182,  183,  184,  185,  186,  187,  188,  189,
        190,  191,  192,  193,  194,  195,  196,  197,  198,  199,  201,
        202,  203,  204,  205,  206,  207,  208,  209,  210,  211,  212,
        213,  214,  215,  216,  217,  218,  219,  220,  221,  222,  223,
        224,  225,  226,  227,  228,  229,  230,  231,  232,  233,  234,
        235,  236,  237,  238,  239,  240,  241,  242,  243,  244,  245,
        246,  247,  248,  249,  250,  251,  252,  253,  254,  255,  256,
        257,  258,  259,  260,  261,  262,  263,  264,  265,  266,  267,
        268,  269,  270,  271,  272,  273,  274,  275,  276,  277,  278,
        279,  280,  281,  282,  283,  284,  285,  286,  287,  288,  289,
        290,  291,  292,  293,  294,  295,  296,  297,  298,  299,  300,
        301,  302,  303,  304,  305,  306,  307,  308,  309,  310,  311,
        312,  313,  314,  315,  316,  317,  318,  319,  320,  321,  322,
        323,  324,  325,  326,  327,  328,  329,  330,  331,  333,  334,
        335,  336,  337,  338,  339,  340,  341,  342,  343,  344,  345,
        346,  347,  348,  349,  350,  351,  352,  353,  354,  355,  356,
        357,  358,  359,  360,  361,  362,  363,  364,  365,  366,  367,
        368,  369,  370,  371,  372,  373,  374,  375,  376,  377,  378,
        379,  380,  381,  382,  383,  384,  385,  386,  387,  388,  389,
        390,  391,  392,  393,  394,  395,  396,  397,  398,  399,  400,
        401,  402,  403,  404,  405,  406,  407,  408,  409,  410,  411,
        412,  413,  414,  415,  416,  417,  418,  419,  421,  422,  423,
        424,  425,  426,  427,  428,  429,  430,  431,  432,  433,  434,
        435,  436,  437,  438,  439,  440,  441,  442,  443,  444,  445,
        446,  447,  448,  449,  450,  451,  452,  453,  454,  455,  456,
        457,  458,  459,  460,  461,  462,  463,  464,  465,  466,  467,
        468,  469,  470,  471,  472,  473,  474,  475,  476,  477,  478,
        479,  480,  481,  482,  483,  484,  485,  486,  487,  488,  489,
        490,  491,  492,  493,  494,  495,  496,  497,  498,  499,  500,
        501,  502,  503,  504,  505,  506,  507,  508,  509,  510,  511,
        512,  513,  514,  515,  516,  517,  518,  519,  520,  521,  522,
        523,  524,  525,  526,  527,  528,  529,  530,  531,  532,  533,
        534,  535,  536,  537,  538,  539,  540,  541,  542,  543,  544,
        545,  546,  547,  548,  549,  550,  551,  552,  553,  554,  555,
        556,  557,  558,  559,  560,  561,  562,  563,  564,  565,  566,
        567,  568,  569,  570,  571,  572,  573,  574,  575,  576,  577,
        578,  579,  580,  581,  582,  583,  584,  585,  586,  587,  588,
        590,  591,  592,  593,  594,  595,  596,  597,  598,  599,  600,
        601,  602,  603,  604,  605,  606,  607,  608,  609,  610,  611,
        612,  613,  614,  615,  616,  617,  618,  619,  620,  621,  622,
        623,  624,  625,  626,  627,  628,  629,  630,  631,  632,  633,
        634,  635,  636,  637,  638,  639,  640,  641,  642,  643,  644,
        645,  646,  647,  648,  649,  650,  651,  652,  653,  654,  655,
        656,  657,  658,  659,  660,  661,  662,  663,  664,  666,  667,
        668,  669,  670,  671,  672,  673,  674,  675,  676,  677,  678,
        679,  680,  681,  682,  683,  684,  685,  686,  687,  688,  689,
        690,  691,  692,  693,  694,  695,  696,  697,  698,  699,  700,
        701,  702,  703,  704,  705,  706,  707,  708,  709,  710,  711,
        712,  713,  714,  715,  716,  717,  718,  719,  720,  721,  722,
        723,  724,  725,  726,  727,  728,  729,  730,  731,  732,  733,
        734,  735,  736,  737,  738,  739,  740,  741,  742,  744,  745,
        746,  747,  748,  749,  750,  751,  752,  753,  754,  755,  756,
        757,  758,  759,  760,  761,  762,  763,  764,  765,  766,  767,
        768,  769,  770,  771,  772,  773,  774,  775,  776,  777,  778,
        779,  780,  781,  782,  783,  784,  785,  786,  787,  788,  789,
        790,  791,  792,  793,  794,  795,  796,  797,  798,  799,  800,
        801,  802,  803,  804,  805,  806,  807,  808,  809,  810,  811,
        812,  813,  814,  815,  816,  817,  818,  819,  820,  821,  822,
        823,  824,  825,  826,  827,  828,  829,  830,  831,  832,  833,
        834,  835,  836,  837,  838,  839,  840,  841,  842,  843,  844,
        845,  846,  847,  848,  849,  850,  851,  852,  853,  854,  855,
        856,  857,  858,  859,  860,  861,  862,  863,  864,  865,  866,
        867,  868,  869,  870,  871,  872,  873,  874,  875,  876,  877,
        878,  879,  880,  881,  882,  883,  884,  885,  886,  888,  889,
        890,  891,  892,  893,  894,  895,  896,  897,  898,  899,  900,
        902,  903,  904,  905,  906,  907,  908,  909,  910,  911,  912,
        913,  914,  915,  916,  917,  918,  919,  920,  921,  922,  923,
        924,  925,  926,  927,  928,  929,  930,  931,  932,  933,  934,
        935,  936,  937,  938,  939,  940,  941,  942,  943,  944,  945,
        946,  947,  948,  949,  950,  951,  952,  953,  954,  955,  956,
        957,  958,  959,  960,  961,  962,  963,  964,  965,  966,  967,
        968,  969,  970,  971,  972,  973,  974,  975,  976,  977,  978,
        979,  980,  981,  982,  983,  984,  985,  986,  987,  988,  989,
        990,  991,  992,  993,  994,  995,  996,  997,  998,  999, 1000,
       1001, 1002, 1003, 1004, 1005, 1006, 1007, 1008, 1009, 1010])

 Q-6) The company wants to know and display the top 10 highest salaries of employees. The array 'salary' contains the salaries of all employees.

In [29]:
salary_desc = np.sort(salary)[::-1]
salary_desc

array([19975, 19972, 19958, 19943, 19928, 19896, 19881, 19863, 19852,
       19852, 19810, 19808, 19804, 19796, 19789, 19788, 19781, 19770,
       19760, 19748, 19746, 19740, 19734, 19730, 19718, 19677, 19675,
       19674, 19654, 19644, 19640, 19624, 19618, 19617, 19584, 19580,
       19562, 19555, 19552, 19546, 19540, 19537, 19516, 19509, 19503,
       19503, 19499, 19495, 19495, 19487, 19483, 19475, 19472, 19467,
       19433, 19418, 19397, 19390, 19381, 19380, 19364, 19357, 19355,
       19352, 19348, 19331, 19327, 19321, 19314, 19268, 19268, 19248,
       19246, 19227, 19217, 19209, 19206, 19195, 19177, 19173, 19172,
       19168, 19159, 19143, 19140, 19134, 19134, 19125, 19122, 19096,
       19058, 19053, 19050, 19050, 19041, 19040, 19033, 19024, 18996,
       18991, 18970, 18964, 18963, 18954, 18948, 18885, 18853, 18852,
       18845, 18835, 18833, 18827, 18823, 18819, 18812, 18812, 18788,
       18778, 18765, 18757, 18757, 18750, 18749, 18728, 18711, 18705,
       18695, 18694, 18661, 18649, 18646, 18634, 18629, 18625, 18614,
       18609, 18606, 18604, 18596, 18595, 18591, 18591, 18587, 18578,
       18559, 18552, 18541, 18535, 18523, 18501, 18483, 18475, 18459,
       18444, 18428, 18410, 18407, 18404, 18404, 18400, 18347, 18302,
       18297, 18285, 18281, 18257, 18244, 18226, 18215, 18212, 18169,
       18140, 18130, 18127, 18118, 18112, 18098, 18096, 18075, 18065,
       18064, 18063, 18052, 18036, 18024, 18013, 17994, 17994, 17991,
       17986, 17959, 17952, 17936, 17933, 17931, 17926, 17915, 17908,
       17889, 17880, 17866, 17862, 17845, 17831, 17768, 17763, 17757,
       17744, 17729, 17728, 17720, 17712, 17707, 17705, 17702, 17695,
       17690, 17687, 17681, 17673, 17657, 17657, 17652, 17650, 17649,
       17648, 17646, 17644, 17627, 17603, 17600, 17599, 17584, 17582,
       17562, 17556, 17555, 17538, 17485, 17483, 17475, 17436, 17427,
       17422, 17416, 17404, 17381, 17380, 17374, 17370, 17370, 17350,
       17345, 17339, 17338, 17336, 17326, 17322, 17322, 17317, 17314,
       17280, 17260, 17244, 17242, 17241, 17230, 17216, 17213, 17202,
       17170, 17154, 17151, 17149, 17146, 17137, 17135, 17129, 17118,
       17107, 17105, 17099, 17072, 17058, 17057, 17053, 17049, 17048,
       17043, 17043, 17042, 17037, 17022, 16991, 16987, 16982, 16964,
       16935, 16912, 16903, 16898, 16882, 16872, 16866, 16855, 16851,
       16842, 16835, 16825, 16825, 16825, 16822, 16794, 16762, 16750,
       16746, 16746, 16724, 16723, 16717, 16715, 16715, 16706, 16704,
       16694, 16691, 16679, 16661, 16658, 16623, 16621, 16610, 16602,
       16595, 16592, 16580, 16569, 16556, 16541, 16536, 16506, 16501,
       16496, 16495, 16492, 16470, 16459, 16454, 16443, 16443, 16431,
       16420, 16393, 16383, 16381, 16381, 16343, 16326, 16303, 16301,
       16284, 16263, 16253, 16251, 16250, 16228, 16223, 16219, 16206,
       16201, 16199, 16192, 16189, 16185, 16184, 16178, 16171, 16170,
       16169, 16160, 16142, 16133, 16126, 16124, 16113, 16112, 16107,
       16106, 16104, 16094, 16090, 16084, 16066, 16061, 16036, 16015,
       16000, 15995, 15976, 15970, 15968, 15956, 15952, 15950, 15934,
       15930, 15926, 15921, 15920, 15915, 15908, 15899, 15897, 15895,
       15892, 15890, 15876, 15847, 15830, 15829, 15815, 15809, 15807,
       15794, 15790, 15790, 15768, 15764, 15755, 15750, 15736, 15730,
       15717, 15702, 15691, 15681, 15681, 15666, 15661, 15631, 15619,
       15598, 15583, 15581, 15575, 15572, 15569, 15538, 15534, 15521,
       15512, 15511, 15510, 15499, 15497, 15489, 15478, 15471, 15471,
       15464, 15460, 15455, 15435, 15422, 15420, 15390, 15386, 15385,
       15382, 15371, 15368, 15360, 15355, 15353, 15351, 15348, 15343,
       15343, 15337, 15330, 15330, 15323, 15304, 15279, 15279, 15266,
       15259, 15256, 15254, 15218, 15199, 15195, 15194, 15186, 15177,
       15164, 15160, 15154, 15147, 15146, 15145, 15139, 15135, 15117,
       15112, 15105, 15096, 15089, 15055, 15054, 15019, 15016, 15011,
       15000, 14981, 14976, 14961, 14957, 14951, 14937, 14926, 14920,
       14912, 14886, 14845, 14842, 14823, 14793, 14786, 14775, 14755,
       14731, 14726, 14725, 14724, 14719, 14713, 14684, 14684, 14682,
       14671, 14645, 14644, 14643, 14640, 14628, 14585, 14582, 14562,
       14561, 14556, 14553, 14542, 14538, 14536, 14536, 14532, 14514,
       14514, 14506, 14500, 14500, 14480, 14424, 14403, 14390, 14387,
       14356, 14341, 14333, 14331, 14330, 14309, 14267, 14257, 14214,
       14214, 14202, 14197, 14185, 14170, 14159, 14150, 14140, 14131,
       14131, 14115, 14113, 14107, 14099, 14087, 14077, 14056, 14051,
       14050, 14029, 14026, 14020, 14019, 14000, 14000, 13988, 13976,
       13939, 13933, 13916, 13899, 13897, 13896, 13894, 13881, 13879,
       13873, 13866, 13853, 13818, 13811, 13805, 13804, 13802, 13786,
       13778, 13778, 13778, 13773, 13771, 13768, 13756, 13741, 13735,
       13733, 13728, 13715, 13697, 13656, 13655, 13655, 13649, 13641,
       13638, 13634, 13615, 13600, 13597, 13594, 13590, 13552, 13550,
       13546, 13529, 13519, 13499, 13492, 13491, 13489, 13487, 13482,
       13481, 13479, 13451, 13413, 13413, 13407, 13397, 13356, 13331,
       13318, 13317, 13297, 13291, 13288, 13266, 13264, 13260, 13244,
       13239, 13225, 13222, 13203, 13191, 13182, 13167, 13164, 13123,
       13118, 13116, 13111, 13109, 13104, 13097, 13091, 13072, 13063,
       13059, 13055, 13051, 13038, 13038, 13035, 13019, 13001, 13000,
       12994, 12993, 12980, 12980, 12975, 12973, 12966, 12959, 12947,
       12930, 12929, 12914, 12906, 12897, 12885, 12873, 12872, 12860,
       12842, 12840, 12838, 12817, 12817, 12816, 12812, 12811, 12786,
       12781, 12768, 12765, 12763, 12757, 12752, 12726, 12720, 12693,
       12673, 12657, 12636, 12622, 12601, 12596, 12589, 12558, 12552,
       12551, 12536, 12529, 12527, 12518, 12463, 12463, 12460, 12447,
       12435, 12432, 12418, 12410, 12409, 12406, 12389, 12388, 12385,
       12374, 12371, 12367, 12356, 12316, 12307, 12305, 12297, 12293,
       12285, 12280, 12277, 12268, 12265, 12264, 12254, 12248, 12244,
       12225, 12221, 12221, 12217, 12217, 12215, 12182, 12160, 12157,
       12145, 12132, 12127, 12121, 12099, 12098, 12089, 12080, 12076,
       12074, 12064, 12061, 12045, 12039, 12022, 12016, 12002, 11989,
       11989, 11973, 11959, 11955, 11949, 11940, 11904, 11901, 11899,
       11894, 11884, 11875, 11867, 11853, 11842, 11825, 11816, 11809,
       11799, 11775, 11765, 11763, 11734, 11732, 11715, 11696, 11695,
       11683, 11674, 11669, 11656, 11644, 11628, 11622, 11617, 11605,
       11601, 11596, 11589, 11588, 11581, 11549, 11544, 11475, 11471,
       11467, 11452, 11437, 11434, 11425, 11424, 11398, 11398, 11364,
       11348, 11344, 11332, 11319, 11308, 11286, 11282, 11245, 11244,
       11218, 11195, 11175, 11170, 11139, 11137, 11128, 11126, 11124,
       11123, 11119, 11104, 11101, 11091, 11088, 11084, 11077, 11064,
       11058, 11034, 11029, 11027, 11026, 11021, 11003, 10983, 10982,
       10980, 10974, 10973, 10956, 10955, 10944, 10931, 10921, 10915,
       10903, 10901, 10894, 10866, 10842, 10836, 10835, 10817, 10782,
       10771, 10765, 10763, 10761, 10755, 10751, 10742, 10742, 10721,
       10707, 10706, 10684, 10680, 10680, 10666, 10649, 10643, 10619,
       10616, 10604, 10588, 10581, 10569, 10563, 10550, 10549, 10545,
       10531, 10503, 10497, 10493, 10458, 10457, 10441, 10441, 10395,
       10392, 10379, 10370, 10369, 10360, 10346, 10336, 10333, 10321,
       10312, 10306, 10304, 10302, 10302, 10287, 10275, 10275, 10269,
       10266, 10259, 10238, 10173, 10172, 10166, 10156, 10155, 10149,
       10149, 10142, 10131, 10123, 10116, 10107, 10106, 10087, 10085,
       10068, 10066, 10057, 10050, 10049, 10038, 10033, 10024, 10012,
       10000])

In [28]:
salary_desc[:10]

array([19975, 19972, 19958, 19943, 19928, 19896, 19881, 19863, 19852,
       19852])

In [98]:
print("Top ten highest salaries of employess are: ",salary_desc[:10])

Top ten highest salaries of employess are:  [19999 19998 19986 19983 19969 19933 19904 19899 19898 19897]

In [53]:
from numpy import genfromtxt

In [55]:
data = genfromtxt('DS1_C4_S1_EmployeeCode_Concept.csv',delimiter=',',skip_header=1)
data

array([1010., 1011., 1012., 1013., 1014., 1015., 1016., 1017., 1018.,
       1019., 1020., 1021., 1022., 1023., 1024., 1025., 1026., 1027.,
       1028., 1029.])

# Two dimensional array

 Q-1) A company wishes to allocate the employee codes from 101 to 105 along with the ages 25, 26, 27, 28, and 29 (in years) to its employees. How can you represent this data using arrays?

In [56]:
ep_code=[101,102,103,104,105]
ep_age = [25,26,27,28,29]

In [57]:
emp_data = np.array([ep_code,ep_age])
emp_data

array([[101, 102, 103, 104, 105],
       [ 25,  26,  27,  28,  29]])

In [58]:
emp_data.shape

(2, 5)

In [59]:
emp_data.size

10

In [60]:
emp_data.ndim                 #number of dimension

2

In [63]:
emp_data.T                  #to transpose the data

array([[101,  25],
       [102,  26],
       [103,  27],
       [104,  28],
       [105,  29]])

In [64]:
np.random.randint(10,20,size=(3,4))                   #create a 3x4 array

array([[13, 12, 12, 17],
       [18, 14, 19, 15],
       [17, 12, 10, 16]])

In [66]:
emp_data[0]         #first row

array([101, 102, 103, 104, 105])

In [67]:
emp_data[1]                #second row

array([25, 26, 27, 28, 29])

In [ ]:
#print age of 4th

In [68]:
emp_data[1][3]

28

In [69]:
emp_data[1][1]

26

In [74]:
emp_data[0:,2:]

array([[103, 104, 105],
       [ 27,  28,  29]])

In [80]:
ind =emp_data[0]==105
ind

array([False, False, False, False,  True])

In [81]:
index=np.where(ind)
index

(array([4], dtype=int64),)

In [84]:
emp_data[1][index]

array([29])

In [85]:
emp_data

array([[101, 102, 103, 104, 105],
       [ 25,  26,  27,  28,  29]])

In [93]:
index=np.where(emp_data[0]==103)

In [95]:
emp_data[1][index]=31

In [96]:
emp_data

array([[101, 102, 103, 104, 105],
       [ 25,  26,  31,  28,  29]])

In [30]:
emp_data =np.random.randint(10,20,size=(2,10))
emp_data

array([[13, 17, 19, 14, 12, 18, 17, 15, 10, 17],
       [16, 17, 12, 17, 18, 18, 19, 16, 16, 17]])

In [31]:
emp_data[0]==15

array([False, False, False, False, False, False, False,  True, False,
       False])

In [32]:
index = np.where(emp_data[0]==15)
index

(array([7], dtype=int64),)

In [36]:
emp_data[:,index]

array([[[15]],

       [[16]]])

In [37]:
emp_data[1,index] =0
emp_data

array([[13, 17, 19, 14, 12, 18, 17, 15, 10, 17],
       [16, 17, 12, 17, 18, 18, 19,  0, 16, 17]])

In [5]:
rollno = [1,2,3,4,5,6,7,8,9,10]
marks = [56,76,87,98,63,69,61,90,26,45]

In [6]:
student = np.array([rollno,marks])

In [7]:
student

array([[ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10],
       [56, 76, 87, 98, 63, 69, 61, 90, 26, 45]])

In [8]:
np.sum(student[1])

671

In [9]:
np.mean(student[1])              #average

67.1

In [10]:
np.min(student[1])

26

In [11]:
np.max(student[1])

98

In [12]:
np.median(student[1])

66.0

In [13]:
age =[12,13,12,14,13,15,16,13,13,14]
student =np.append(student,[age], axis=0)

In [14]:

student

array([[ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10],
       [56, 76, 87, 98, 63, 69, 61, 90, 26, 45],
       [12, 13, 12, 14, 13, 15, 16, 13, 13, 14]])

In [15]:
student = np.append(student, [[11],[80],[15]], axis=1)
student

array([[ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11],
       [56, 76, 87, 98, 63, 69, 61, 90, 26, 45, 80],
       [12, 13, 12, 14, 13, 15, 16, 13, 13, 14, 15]])

In [16]:
student = np.append(student, [[15],[90],[15]], axis=1)
student

array([[ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 15],
       [56, 76, 87, 98, 63, 69, 61, 90, 26, 45, 80, 90],
       [12, 13, 12, 14, 13, 15, 16, 13, 13, 14, 15, 15]])

In [17]:
student1 = np.delete(student,3,axis=1)                    #deleting column wise therefore using axis=1
student1

array([[ 1,  2,  3,  5,  6,  7,  8,  9, 10, 11, 15],
       [56, 76, 87, 63, 69, 61, 90, 26, 45, 80, 90],
       [12, 13, 12, 13, 15, 16, 13, 13, 14, 15, 15]])

In [18]:
student

array([[ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 15],
       [56, 76, 87, 98, 63, 69, 61, 90, 26, 45, 80, 90],
       [12, 13, 12, 14, 13, 15, 16, 13, 13, 14, 15, 15]])

In [26]:
index = np.where(student[1]<50)
index

(array([8, 9], dtype=int64),)

In [20]:
student[:,index]

array([[[ 9, 10]],

       [[26, 45]],

       [[13, 14]]])