In [1]:
import mysql.connector as sql
import pandas as pd
from sqlalchemy import create_engine

In [2]:
df = pd.read_csv("DS1_C4_S6_House_Prices_Data_Challenge.csv")
df

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [3]:
hostname = "localhost"
dbname = "house"
username = "root"
password = "abcd"

In [4]:
engine = create_engine("mysql+pymysql://{user}:{pw}@{host}/{db}".format(host= hostname, pw=password, user=username, db=dbname))
engine

Engine(mysql+pymysql://root:***@localhost/house)

In [5]:
df.to_sql("House_Prices_Data",engine, index=False)

ValueError: Table 'House_Prices_Data' already exists.

In [7]:
db = sql.connect(host="localhost", user= "root", password = "abcd", database="house")
db

In [8]:
mycursor = db.cursor()

Task 1 Most people prefer houses that are at least 6,000 square feet and are corner-plot houses. Write a query to fetch these rows and push them into a new table in MySQL.

In [9]:
Task1 = """select LotArea, LotConfig from House_Prices_Data
          where LotArea >=6000 and LotConfig="corner" """

In [10]:
try:
    mycursor.execute(Task1)
    data = mycursor.fetchall()
    print(data)
except:
    print("some error")

[(9550, 'Corner'), (10382, 'Corner'), (7420, 'Corner'), (10920, 'Corner'), (6120, 'Corner'), (14215, 'Corner'), (14230, 'Corner'), (7200, 'Corner'), (11049, 'Corner'), (10859, 'Corner'), (13869, 'Corner'), (8472, 'Corner'), (11645, 'Corner'), (15593, 'Corner'), (7599, 'Corner'), (10141, 'Corner'), (10440, 'Corner'), (13000, 'Corner'), (16059, 'Corner'), (8470, 'Corner'), (7200, 'Corner'), (9765, 'Corner'), (10625, 'Corner'), (10402, 'Corner'), (7758, 'Corner'), (8500, 'Corner'), (21000, 'Corner'), (8536, 'Corner'), (12376, 'Corner'), (9464, 'Corner'), (14200, 'Corner'), (12224, 'Corner'), (7388, 'Corner'), (10355, 'Corner'), (8520, 'Corner'), (6120, 'Corner'), (10356, 'Corner'), (11340, 'Corner'), (9600, 'Corner'), (12003, 'Corner'), (12552, 'Corner'), (19378, 'Corner'), (12182, 'Corner'), (16669, 'Corner'), (31770, 'Corner'), (12615, 'Corner'), (10029, 'Corner'), (25419, 'Corner'), (8546, 'Corner'), (7000, 'Corner'), (11851, 'Corner'), (10420, 'Corner'), (15660, 'Corner'), (10650, 'Corner'), (10762, 'Corner'), (19296, 'Corner'), (8471, 'Corner'), (7917, 'Corner'), (8314, 'Corner'), (19138, 'Corner'), (8125, 'Corner'), (16659, 'Corner'), (15750, 'Corner'), (13704, 'Corner'), (9800, 'Corner'), (13005, 'Corner'), (16259, 'Corner'), (11275, 'Corner'), (6402, 'Corner'), (164660, 'Corner'), (14157, 'Corner'), (14145, 'Corner'), (7301, 'Corner'), (9150, 'Corner'), (9830, 'Corner'), (11143, 'Corner'), (11394, 'Corner'), (9000, 'Corner'), (53107, 'Corner'), (7446, 'Corner'), (8967, 'Corner'), (12090, 'Corner'), (9991, 'Corner'), (14154, 'Corner'), (11457, 'Corner'), (10839, 'Corner'), (12354, 'Corner'), (9855, 'Corner'), (16492, 'Corner'), (11214, 'Corner'), (9303, 'Corner'), (7015, 'Corner'), (9291, 'Corner'), (6820, 'Corner'), (8480, 'Corner'), (7758, 'Corner'), (10800, 'Corner'), (15578, 'Corner'), (9170, 'Corner'), (9600, 'Corner'), (9100, 'Corner'), (9187, 'Corner'), (10448, 'Corner'), (11988, 'Corner'), (13837, 'Corner'), (6858, 'Corner'), (7032, 'Corner'), (13159, 'Corner'), (13478, 'Corner'), (12464, 'Corner'), (7227, 'Corner'), (10000, 'Corner'), (9020, 'Corner'), (9000, 'Corner'), (9250, 'Corner'), (10530, 'Corner'), (9937, 'Corner'), (13560, 'Corner'), (11194, 'Corner'), (14175, 'Corner'), (11248, 'Corner'), (7577, 'Corner'), (21535, 'Corner'), (6120, 'Corner'), (21695, 'Corner'), (11475, 'Corner'), (9590, 'Corner'), (10000, 'Corner'), (8978, 'Corner'), (11700, 'Corner'), (8800, 'Corner'), (14226, 'Corner'), (9101, 'Corner'), (6000, 'Corner'), (11333, 'Corner'), (10832, 'Corner'), (7200, 'Corner'), (8100, 'Corner'), (11425, 'Corner'), (12394, 'Corner'), (11900, 'Corner'), (8000, 'Corner'), (12095, 'Corner'), (6897, 'Corner'), (11029, 'Corner'), (7642, 'Corner'), (9672, 'Corner'), (6970, 'Corner'), (14762, 'Corner'), (8892, 'Corner'), (9636, 'Corner'), (8393, 'Corner'), (8064, 'Corner'), (13501, 'Corner'), (11600, 'Corner'), (13125, 'Corner'), (11029, 'Corner'), (15611, 'Corner'), (13006, 'Corner'), (11670, 'Corner'), (8820, 'Corner'), (7800, 'Corner'), (12227, 'Corner'), (11923, 'Corner'), (11316, 'Corner'), (11639, 'Corner'), (11414, 'Corner'), (8816, 'Corner'), (12122, 'Corner'), (12203, 'Corner'), (11250, 'Corner'), (17671, 'Corner'), (10206, 'Corner'), (11500, 'Corner'), (15498, 'Corner'), (7700, 'Corner'), (15863, 'Corner'), (14541, 'Corner'), (13125, 'Corner'), (11175, 'Corner'), (9500, 'Corner'), (11367, 'Corner'), (11275, 'Corner'), (7950, 'Corner'), (15870, 'Corner'), (7500, 'Corner'), (13031, 'Corner'), (8544, 'Corner'), (9230, 'Corner'), (8910, 'Corner'), (12256, 'Corner'), (10357, 'Corner'), (7100, 'Corner'), (8926, 'Corner'), (14572, 'Corner'), (6180, 'Corner'), (7350, 'Corner'), (10768, 'Corner'), (10475, 'Corner'), (13728, 'Corner'), (8335, 'Corner'), (11170, 'Corner'), (15623, 'Corner'), (10615, 'Corner'), (12461, 'Corner'), (9364, 'Corner'), (8850, 'Corner'), (10400, 'Corner'), (6000, 'Corner'), (8872, 'Corner'), (8769, 'Corner'), (11435, 'Corner'), (11160, 'Corner'), (14303, 'Corner'), (11512, 'Corner'), (11345, 'Corner'), (9400, 'Corner'), (14112, 'Corner'), (6600, 'Corner'), (63887, 'Corner'), (13173, 'Corner'), (14774, 'Corner'), (6627, 'Corner'), (10440, 'Corner'), (7200, 'Corner'), (13450, 'Corner'), (9560, 'Corner'), (11103, 'Corner'), (15306, 'Corner'), (9477, 'Corner'), (9750, 'Corner'), (12925, 'Corner'), (7200, 'Corner'), (6000, 'Corner'), (10410, 'Corner'), (8445, 'Corner'), (8780, 'Corner'), (10994, 'Corner'), (11700, 'Corner'), (7200, 'Corner'), (12546, 'Corner')]

In [11]:
mycursor = db.cursor()

In [12]:
df.to_sql("Task1",engine, index=False)    #pushed the new table in MYsql

ValueError: Table 'Task1' already exists.

Task 2
Most people seem to prefer houses that are one family and one story, preferably on flat land avoiding mountains or valleys/banks. Write a query to fetch these rows and push them into a new table in MySQL.

In [14]:
one_story = """select HouseStyle , LandContour,BldgType from House_Prices_Data
where HouseStyle= "1Story" and LandContour = "Lvl"  and BldgType="1Fam" """

In [15]:
try:
    mycursor.execute(one_story)
    data = mycursor.fetchall()
    print(data)
except:
    print("some error")

[('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam'), ('1Story', 'Lvl', '1Fam')]

In [13]:
df.to_sql("one_story",engine, index=False)           #pushed the new table in mysql

ValueError: Table 'one_story' already exists.

Task 3
Compact townhouses are hot-selling properties in California.
Write a query to fetch these rows and push them into a new table in MySQL.

In [18]:
townhouses = """select Id, BldgType from House_Prices_Data
            where BldgType ="TwnhsE" """

In [19]:
try:
    mycursor.execute(townhouses)
    data = mycursor.fetchall()
    print(data)
except:
    print("some error")

[(24, 'TwnhsE'), (35, 'TwnhsE'), (46, 'TwnhsE'), (63, 'TwnhsE'), (82, 'TwnhsE'), (88, 'TwnhsE'), (116, 'TwnhsE'), (124, 'TwnhsE'), (127, 'TwnhsE'), (173, 'TwnhsE'), (190, 'TwnhsE'), (204, 'TwnhsE'), (220, 'TwnhsE'), (230, 'TwnhsE'), (236, 'TwnhsE'), (244, 'TwnhsE'), (252, 'TwnhsE'), (285, 'TwnhsE'), (286, 'TwnhsE'), (327, 'TwnhsE'), (334, 'TwnhsE'), (344, 'TwnhsE'), (345, 'TwnhsE'), (351, 'TwnhsE'), (358, 'TwnhsE'), (373, 'TwnhsE'), (386, 'TwnhsE'), (401, 'TwnhsE'), (433, 'TwnhsE'), (444, 'TwnhsE'), (466, 'TwnhsE'), (471, 'TwnhsE'), (473, 'TwnhsE'), (475, 'TwnhsE'), (491, 'TwnhsE'), (505, 'TwnhsE'), (512, 'TwnhsE'), (544, 'TwnhsE'), (551, 'TwnhsE'), (560, 'TwnhsE'), (579, 'TwnhsE'), (594, 'TwnhsE'), (598, 'TwnhsE'), (604, 'TwnhsE'), (615, 'TwnhsE'), (624, 'TwnhsE'), (640, 'TwnhsE'), (641, 'TwnhsE'), (681, 'TwnhsE'), (686, 'TwnhsE'), (688, 'TwnhsE'), (690, 'TwnhsE'), (691, 'TwnhsE'), (700, 'TwnhsE'), (708, 'TwnhsE'), (713, 'TwnhsE'), (722, 'TwnhsE'), (731, 'TwnhsE'), (745, 'TwnhsE'), (756, 'TwnhsE'), (765, 'TwnhsE'), (776, 'TwnhsE'), (791, 'TwnhsE'), (812, 'TwnhsE'), (820, 'TwnhsE'), (832, 'TwnhsE'), (851, 'TwnhsE'), (852, 'TwnhsE'), (886, 'TwnhsE'), (915, 'TwnhsE'), (924, 'TwnhsE'), (957, 'TwnhsE'), (963, 'TwnhsE'), (973, 'TwnhsE'), (978, 'TwnhsE'), (1005, 'TwnhsE'), (1008, 'TwnhsE'), (1018, 'TwnhsE'), (1020, 'TwnhsE'), (1024, 'TwnhsE'), (1040, 'TwnhsE'), (1057, 'TwnhsE'), (1061, 'TwnhsE'), (1069, 'TwnhsE'), (1079, 'TwnhsE'), (1087, 'TwnhsE'), (1090, 'TwnhsE'), (1098, 'TwnhsE'), (1105, 'TwnhsE'), (1127, 'TwnhsE'), (1173, 'TwnhsE'), (1182, 'TwnhsE'), (1194, 'TwnhsE'), (1229, 'TwnhsE'), (1252, 'TwnhsE'), (1265, 'TwnhsE'), (1266, 'TwnhsE'), (1289, 'TwnhsE'), (1298, 'TwnhsE'), (1305, 'TwnhsE'), (1307, 'TwnhsE'), (1318, 'TwnhsE'), (1335, 'TwnhsE'), (1365, 'TwnhsE'), (1368, 'TwnhsE'), (1369, 'TwnhsE'), (1395, 'TwnhsE'), (1406, 'TwnhsE'), (1416, 'TwnhsE'), (1422, 'TwnhsE'), (1423, 'TwnhsE'), (1432, 'TwnhsE'), (1442, 'TwnhsE'), (1453, 'TwnhsE')]

In [20]:
df.to_sql("townhouses",engine, index=False)        #pushed the new table in mysql

1460

Task 4
Houses with 3+ bedrooms, a basement, and a cement exterior are popular among most customers. Write a query to fetch these rows and push them into a new table in MySQL.

In [37]:
bedrooms_3 = """select Exterior1st ,BsmtQual,BedroomAbvGr from House_Prices_Data
                where Exterior1st="CemntBd" and BedroomAbvGr=3 and BsmtQual="Ex" """

In [38]:
try:
    mycursor.execute(bedrooms_3)
    data = mycursor.fetchall()
    print(data)
except:
    print("some error")

[('CemntBd', 'Ex', 3), ('CemntBd', 'Ex', 3), ('CemntBd', 'Ex', 3), ('CemntBd', 'Ex', 3), ('CemntBd', 'Ex', 3), ('CemntBd', 'Ex', 3), ('CemntBd', 'Ex', 3), ('CemntBd', 'Ex', 3), ('CemntBd', 'Ex', 3)]

In [34]:
df.to_sql("bedrooms_3",engine, index=False)

1460

Task 5
Most families own two cars and prefer a garage with at least 500 square feet. Write a query to fetch these rows and push them into a new table in MySQL.

In [39]:
query5= """select GarageCars,GarageArea from House_Prices_Data
             where GarageCars=2 and GarageArea>500"""

In [40]:
try:
    mycursor.execute(query5)
    data = mycursor.fetchall()
    print(data)
except:
    print("some error")

[(2, 548), (2, 608), (2, 636), (2, 576), (2, 516), (2, 576), (2, 534), (2, 572), (2, 576), (2, 556), (2, 672), (2, 504), (2, 576), (2, 670), (2, 528), (2, 516), (2, 572), (2, 576), (2, 565), (2, 576), (2, 645), (2, 576), (2, 558), (2, 667), (2, 516), (2, 528), (2, 506), (2, 684), (2, 648), (2, 546), (2, 540), (2, 530), (2, 750), (2, 624), (2, 530), (2, 660), (2, 720), (2, 577), (2, 504), (2, 564), (2, 625), (2, 678), (2, 576), (2, 516), (2, 532), (2, 511), (2, 660), (2, 528), (2, 504), (2, 504), (2, 616), (2, 576), (2, 521), (2, 576), (2, 528), (2, 682), (2, 666), (2, 795), (2, 504), (2, 644), (2, 576), (2, 675), (2, 576), (2, 750), (2, 604), (2, 538), (2, 520), (2, 673), (2, 660), (2, 564), (2, 884), (2, 504), (2, 576), (2, 672), (2, 573), (2, 505), (2, 575), (2, 572), (2, 626), (2, 529), (2, 528), (2, 685), (2, 539), (2, 588), (2, 576), (2, 539), (2, 683), (2, 552), (2, 539), (2, 513), (2, 546), (2, 588), (2, 576), (2, 564), (2, 529), (2, 532), (2, 564), (2, 617), (2, 521), (2, 528), (2, 592), (2, 672), (2, 566), (2, 514), (2, 576), (2, 680), (2, 576), (2, 610), (2, 572), (2, 639), (2, 501), (2, 577), (2, 560), (2, 600), (2, 572), (2, 529), (2, 520), (2, 569), (2, 628), (2, 576), (2, 550), (2, 528), (2, 578), (2, 576), (2, 676), (2, 560), (2, 528), (2, 529), (2, 552), (2, 576), (2, 526), (2, 506), (2, 528), (2, 534), (2, 525), (2, 624), (2, 508), (2, 672), (2, 515), (2, 520), (2, 546), (2, 603), (2, 676), (2, 624), (2, 583), (2, 546), (2, 600), (2, 502), (2, 527), (2, 576), (2, 670), (2, 583), (2, 624), (2, 720), (2, 615), (2, 520), (2, 528), (2, 590), (2, 532), (2, 612), (2, 600), (2, 576), (2, 650), (2, 564), (2, 540), (2, 572), (2, 880), (2, 528), (2, 520), (2, 816), (2, 621), (2, 736), (2, 506), (2, 530), (2, 576), (2, 564), (2, 531), (2, 528), (2, 624), (2, 504), (2, 520), (2, 627), (2, 544), (2, 576), (2, 588), (2, 650), (2, 538), (2, 576), (2, 562), (2, 512), (2, 550), (2, 576), (2, 588), (2, 504), (2, 596), (2, 575), (2, 576), (2, 540), (2, 546), (2, 572), (2, 577), (2, 578), (2, 567), (2, 628), (2, 576), (2, 551), (2, 530), (2, 528), (2, 672), (2, 606), (2, 739), (2, 550), (2, 576), (2, 704), (2, 564), (2, 660), (2, 540), (2, 632), (2, 539), (2, 608), (2, 541), (2, 572), (2, 539), (2, 831), (2, 554), (2, 527), (2, 576), (2, 578), (2, 614), (2, 592), (2, 576), (2, 672), (2, 630), (2, 504), (2, 605), (2, 602), (2, 618), (2, 539), (2, 528), (2, 603), (2, 554), (2, 528), (2, 504), (2, 598), (2, 595), (2, 576), (2, 776), (2, 527), (2, 538), (2, 613), (2, 812), (2, 686), (2, 611), (2, 512), (2, 645), (2, 576), (2, 619), (2, 504), (2, 529), (2, 902), (2, 544), (2, 672), (2, 574), (2, 523), (2, 550), (2, 648), (2, 576), (2, 506), (2, 588), (2, 621), (2, 505), (2, 576), (2, 528), (2, 528), (2, 601), (2, 533), (2, 612), (2, 540), (2, 522), (2, 642), (2, 570), (2, 505), (2, 528), (2, 555), (2, 689), (2, 574), (2, 576), (2, 525), (2, 676), (2, 720), (2, 530), (2, 576), (2, 531), (2, 619), (2, 702), (2, 510), (2, 532), (2, 569), (2, 588), (2, 779), (2, 539), (2, 551), (2, 614), (2, 564), (2, 615), (2, 632), (2, 528), (2, 528), (2, 550), (2, 528), (2, 565), (2, 632), (2, 665), (2, 672), (2, 905), (2, 624), (2, 514), (2, 542), (2, 672), (2, 540), (2, 586), (2, 582), (2, 560), (2, 533), (2, 576), (2, 576), (2, 566), (2, 528), (2, 527), (2, 564), (2, 550), (2, 576), (2, 884), (2, 539), (2, 712), (2, 719), (2, 527), (2, 672), (2, 672), (2, 576), (2, 714), (2, 840), (2, 528), (2, 528), (2, 502), (2, 626), (2, 540), (2, 924), (2, 588), (2, 644), (2, 540), (2, 625), (2, 541), (2, 693), (2, 720), (2, 573), (2, 546), (2, 544), (2, 506), (2, 539), (2, 552), (2, 528), (2, 576), (2, 600), (2, 540), (2, 531), (2, 543), (2, 528), (2, 615), (2, 522), (2, 518), (2, 691), (2, 502), (2, 520), (2, 511), (2, 506), (2, 586), (2, 552), (2, 577), (2, 528), (2, 544), (2, 528), (2, 528), (2, 572), (2, 525), (2, 525), (2, 1418), (2, 840), (2, 528), (2, 567), (2, 508), (2, 750), (2, 576), (2, 564), (2, 520), (2, 576), (2, 630), (2, 506), (2, 576), (2, 647), (2, 508), (2, 514), (2, 624), (2, 621), (2, 663), (2, 588), (2, 502), (2, 583), (2, 660), (2, 550), (2, 576), (2, 576), (2, 564), (2, 541), (2, 672), (2, 572), (2, 662), (2, 528), (2, 542), (2, 622), (2, 620), (2, 560), (2, 540), (2, 776), (2, 528), (2, 525), (2, 528), (2, 923), (2, 550), (2, 672), (2, 626), (2, 556), (2, 525)]

In [42]:
df.to_sql("query5",engine, index=False)

AttributeError: 'str' object has no attribute 'to_sql'