Write a program to generate a dictionary after taking input from user
The dictionary must have keys as student id and values as the student names

In [1]:
di = {}
n=int(input("enter number of students "))
for i in range(n):
    st_id= input("enter student id:")
    st_name = input("enter student name:")
    di[st_name]=st_id                                           # key=value
print(di)

enter number of students 2
enter student id:23
enter student name:kartik
enter student id:34
enter student name:anika
{'kartik': '23', 'anika': '34'}

In [1]:
d1 = {}
num = int(input("enter number of students"))
for i in range(num):
    keys = int(input("enter student ID"))
    values = input("Enter names")
    d1[keys] = values
print(d1)

enter number of students2
enter student ID25
Enter nameskartik
enter student ID78
Enter namesanika
{25: 'kartik', 78: 'anika'}

#functions

In [9]:
def greet():                             #create a function using def
    print('hii good morning')
    print("have a good day")

In [10]:
greet()                                  #using the created function

hii good morning
have a good day

In [11]:
for i in range(10):                         #using for and function together
    greet()

hii good morning
have a good day
hii good morning
have a good day
hii good morning
have a good day
hii good morning
have a good day
hii good morning
have a good day
hii good morning
have a good day
hii good morning
have a good day
hii good morning
have a good day
hii good morning
have a good day
hii good morning
have a good day

In [12]:
def hello():
    print("welcome to programing")

In [13]:
hello()

welcome to programing

In [6]:
def add_two_numbers(m,n):                    #passing default arguments in the function these are local variables
    print(m+n)

In [10]:
m=5
n=6

In [11]:
add_two_numbers(m,n)

11

In [14]:
add_two_numbers(180,'kites')                          #cannot add int data type and string data type

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [13]:
def divide_num():
    l = int(input("enter l:"))
    b= int(input("enter b:"))
    return l//b

In [14]:
divide_num()

enter l:34
enter b:2

17

In [18]:
add_two_numbers('harsh plays ', 'kites')                #adding two strings is called concatination

harsh plays kites

In [19]:
def add_default(a=10,b=5):
    print(a+b)

In [20]:
add_default()

15

In [22]:
add_default(45,6)

51

In [23]:
add_default(45)

50

In [24]:
add_default(b=60)

70

In [39]:
def area_of_circle(r):
    c= 3.14*r*r
    print("area of circle",c)                           #or return c

In [40]:
r=5
area_of_circle(r)

area of circle 78.5

In [7]:
def area_of_rec(l,w):
    c=x*y
    print(c,"is the area of rectangle")

In [11]:
x=3
y=4
area_of_rec(l,w)

12 is the area of rectangle

In [31]:
def greet_friend(name="friend"):
    print("happy birthday",name)

In [32]:
greet_friend()

happy birthday friend

In [33]:
greet_friend('harsh')

happy birthday harsh

In [35]:
val1=add_two_numbers(4,3)

7

In [37]:
type(val1)

NoneType

In [41]:
def add_return(m,n):
    return m+n

In [44]:
val2=add_return(11,2)

In [45]:
val2

13

In [ ]:
#write two functions to multiply three numbers 1st function will show output and second one will return

In [27]:
def mul_num(a,b,c):
    print(a*b*c)

In [28]:
mul_num(2,3,4)

24

In [29]:
def multy_num(x,y,z):
    return x*y*z

In [30]:
multy_num(4,3,5)

60

In [32]:
val3=multy_num(4,3,5)

In [33]:
val3

60

In [34]:
li=[12,4,5,6,7,3,5,8,9,10,8,20]

In [15]:
def check_even(num):
    n = int(input("enter a number"))
    if n%2==0:
        print(n,"even")
    else:
        print(n,"odd")

In [18]:
check_even(num)

enter a number4
4 even

In [36]:
check_even(100)

100 even

In [37]:
check_even(101)

101 odd

In [38]:
for i in li:
    check_even(i)

12 even
4 even
5 odd
6 even
7 odd
3 odd
5 odd
8 even
9 odd
10 even
8 even
20 even

In [3]:
list_of_names=["rahul","Anil","surya","nisha","vinita","kumar","pradeep"]
list_of_names

['rahul', 'Anil', 'surya', 'nisha', 'vinita', 'kumar', 'pradeep']

In [4]:
def reverse_string(s):
    return s[::-1], len(s), s[-1]

In [5]:
string = "rahul"
string[::-1]

'luhar'

In [6]:
rev, size, last = reverse_string(string)

In [7]:
rev

'luhar'

In [8]:
size

5

In [9]:
last

'l'

In [10]:
reverse_string(list_of_names)

(['pradeep', 'kumar', 'vinita', 'nisha', 'surya', 'Anil', 'rahul'],
 7,
 'pradeep')

In [11]:
for i in list_of_names:
    print(reverse_string(i))

('luhar', 5, 'l')
('linA', 4, 'l')
('ayrus', 5, 'a')
('ahsin', 5, 'a')
('atiniv', 6, 'a')
('ramuk', 5, 'r')
('peedarp', 7, 'p')

In [48]:
list_of_number= [112,452,674,787,8980,6979,89999,7745,773]

In [49]:
list_of_number[::-1]

[773, 7745, 89999, 6979, 8980, 787, 674, 452, 112]

In [50]:
def reverse_num(s):
    return s[::-1], len(str(s))

In [51]:
 reverse,size=reverse_num(list_of_number)

In [52]:
reverse

[773, 7745, 89999, 6979, 8980, 787, 674, 452, 112]

In [53]:
size

50

In [54]:
for i in list_of_number:
    print(reverse_num(str(i)))

('211', 3)
('254', 3)
('476', 3)
('787', 3)
('0898', 4)
('9796', 4)
('99998', 5)
('5477', 4)
('377', 3)

In [ ]:
#string_checker()

In [21]:
list_of_names=["rahul sharma", "Anil kumar" ,"amit A", "surya", "nisha", "vinita", "kumar", "pradeep"]
list_of_names

['rahul sharma',
 'Anil kumar',
 'amit A',
 'surya',
 'nisha',
 'vinita',
 'kumar',
 'pradeep']

In [24]:
def string_checker(s):
    if len(s)>8:
        print(s,"is a fullname")
    else:
        print(s,"not a fullname")

In [25]:
for i in list_of_names:
    string_checker(i)

rahul sharma is a fullname
Anil kumar is a fullname
amit A not a fullname
surya not a fullname
nisha not a fullname
vinita not a fullname
kumar not a fullname
pradeep not a fullname

In [ ]:
number_checker()

In [27]:
list_of_number= [112,452,674,787,8980,6979,89999,7745,773]

In [17]:
def number_checker(num):
    if num%3==0 or num%7==0:
        print("divisible")
    else:
        print("not divisible")

In [20]:
for i in list_of_number:
     number_checker(i)

divisible
not divisible
not divisible
not divisible
not divisible
divisible
divisible
not divisible
not divisible

In [ ]:
#in-built functions

In [29]:
len(list_of_number)

9

In [30]:
sum(list_of_number)

116501

In [31]:
s="Python Programming language"

In [32]:
s.upper()

'PYTHON PROGRAMMING LANGUAGE'

In [33]:
s.lower()

'python programming language'

In [34]:
s.title()

'Python Programming Language'

In [35]:
s.capitalize()

'Python programming language'

In [36]:
s.split()

['Python', 'Programming', 'language']

In [39]:
s.count('g')

4

In [40]:
s.replace('g','d')

'Python Prodrammind landuade'

In [41]:
"  ".isspace()

True

In [42]:
s.strip()                       #removes extra or special characters if it is present in the string

'Python Programming language'

In [43]:
s="Python Programming language     "

In [44]:
s

'Python Programming language     '

In [45]:
s.strip()

'Python Programming language'

In [46]:
list_of_number

[112, 452, 674, 787, 8980, 6979, 89999, 7745, 773]

In [47]:
sorted(list_of_number)

[112, 452, 674, 773, 787, 6979, 7745, 8980, 89999]

In [55]:
list(reversed(list_of_number))

[773, 7745, 89999, 6979, 8980, 787, 674, 452, 112]

In [56]:
list_of_names

['rahul sharma',
 'Anil kumar',
 'amit A',
 'surya',
 'nisha',
 'vinita',
 'kumar',
 'pradeep']

In [59]:
"@@@@@".join(list_of_names)

'rahul sharma@@@@@Anil kumar@@@@@amit A@@@@@surya@@@@@nisha@@@@@vinita@@@@@kumar@@@@@pradeep'

In [60]:
m="@@@@@".join(list_of_names)

In [61]:
type(m)

str

In [67]:
d1={"harsh":80,"diya":56,"anuj":45}

In [68]:
d1.values()

dict_values([80, 56, 45])

In [69]:
sum(d1.values())

181

In [72]:
list(reversed(d1.values()))

[45, 56, 80]

In [73]:
d1

{'harsh': 80, 'diya': 56, 'anuj': 45}

In [74]:
sorted(d1)

['anuj', 'diya', 'harsh']

In [75]:
sorted(d1.values())

[45, 56, 80]

In [ ]:
#nameless function

In [84]:
my_fun = lambda a,b:a*b

In [85]:
my_fun(2,3)

6

In [86]:
list_of_number

[112, 452, 674, 787, 8980, 6979, 89999, 7745, 773]

In [94]:
z=lambda n:n%2==0

In [95]:
z(5)

False

In [96]:
z(6)

True

In [97]:
z(50)

True

In [98]:
num_list= [19,23,24,56,78,87,12,13,32,1,2]

In [103]:
list(filter(lambda num:num>20,num_list))                          #it will print only the number which is greater than 20

[23, 24, 56, 78, 87, 32]

In [ ]:
#MAP

In [117]:
def increase_values(a):
    return a+1                                            #will increase by 1

In [118]:
increase_values(23)

24

In [119]:
list(map(increase_values, num_list))                           #map function

[20, 24, 25, 57, 79, 88, 13, 14, 33, 2, 3]

In [122]:
sum(num_list)

347

In [127]:
from functools import reduce

In [140]:
product = reduce((lambda x,y:x+y), num_list)

In [141]:
product

347

In [4]:
color = [('black', 4), ('green', 1), ('red', 5), ('blue', 2), ('yellow', 3)]

In [5]:
sorted(color,key=lambda x:x[1])                                 #using indexing [1] because we have to sort it using the indexing

[('green', 1), ('blue', 2), ('yellow', 3), ('black', 4), ('red', 5)]

In [13]:
l = [('black', 4,8,5), ('green', 1,45,56), ('red',5,3,6), ('blue',2,42,34), ('yellow',3,56,123)]

In [15]:
sorted(l,key=lambda x:x[3])

[('black', 4, 8, 5),
 ('red', 5, 3, 6),
 ('blue', 2, 42, 34),
 ('green', 1, 45, 56),
 ('yellow', 3, 56, 123)]

In [7]:
sum(color,key=lambda x:x)

TypeError: 'key' is an invalid keyword argument for sum()

In [9]:
color = [('black', 4), ('green', 1), ('red', 5), ('blue', 2), ('yellow', 3)]

# Initialize the sum variable
sum_of_numbers = 0

# Loop through each tuple and add the second element (number) to the sum
for _, number in color:
    sum_of_numbers = sum_of_numbers+number

print("Sum of numbers:", sum_of_numbers)

Sum of numbers: 15