In [1]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [2]:
for i in range(21,31):     
    print(i)

21
22
23
24
25
26
27
28
29
30

In [3]:
for i in range(0,21,2):
    print(i)

0
2
4
6
8
10
12
14
16
18
20

In [6]:
#table of 7
for i in range(1,11,1):
    print("7X",i,"=",7*i)

7X 1 = 7
7X 2 = 14
7X 3 = 21
7X 4 = 28
7X 5 = 35
7X 6 = 42
7X 7 = 49
7X 8 = 56
7X 9 = 63
7X 10 = 70

In [7]:
for i in range(1,11,1):
    print("74x",i,"=",74*i)

74x 1 = 74
74x 2 = 148
74x 3 = 222
74x 4 = 296
74x 5 = 370
74x 6 = 444
74x 7 = 518
74x 8 = 592
74x 9 = 666
74x 10 = 740

In [1]:
n=int(input("enter a number"))
for i in range(1,11,1):
    print(n, "X",i,"=",n*i)

enter a number2
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

In [8]:
s="today im very happy as today is the first session of 2024"

In [10]:
for i in s:
    if i!=" ":
        print(i, end="")

todayimveryhappyastodayisthefirstsessionof2024

In [17]:
s1="hello, my name!., is,! python, and ,! i can,. do powerfull.,! programming, !i like,! to. automate,stuff and improve produvtivity"

In [23]:
for i in s1:
    if i!=","and i!='!'and i!='.':
        print(i,end="")

hello my name is python and  i can do powerfull programming i like to automatestuff and improve produvtivity

In [20]:
s1

'hello, my name!., is,! python, and ,! i can,. do powerfull.,! programming, !i like,! to. automate,stuff and improve produvtivity'

In [3]:
s='python'

In [5]:
for i in s:                  
    print("hello")           #running it 6times
    print("iteration")

hello
iteration
hello
iteration
hello
iteration
hello
iteration
hello
iteration
hello
iteration

In [4]:
li=['rahul','harini','priyam','anil','ravi','priya']

In [5]:
len(li)

6

In [6]:
type(li)

list

In [7]:
for i in li:
    print("happy new year",i)

happy new year rahul
happy new year harini
happy new year priyam
happy new year anil
happy new year ravi
happy new year priya

In [15]:
l2=[13,54,67,87,90,23,43]

In [ ]:
#reverse the names of each person in the list

In [6]:
s="MACHINE LEARNING"

In [7]:
a =s[::-1]

In [10]:
a

'GNINRAEL ENIHCAM'

In [34]:
for i in l2:
    print(str(i)[::-1],end=" ")                   #converted int into str by using str()

31 45 76 78 09 32 34

In [13]:
for i in li:
    print('happy new year',i[::-1])

happy new year luhar
happy new year inirah
happy new year mayirp
happy new year lina
happy new year ivar
happy new year ayirp

In [43]:
for i in l2:               #see if the number is divisible by 2 
    if i%2==0:
        print("divisble by 2:",i)
    else:
        print("not divisble by 2:",i)

not divisble by 2: 13
divisble by 2: 54
not divisble by 2: 67
not divisble by 2: 87
divisble by 2: 90
not divisble by 2: 23
not divisble by 2: 43

In [16]:
l2

[13, 54, 67, 87, 90, 23, 43]

In [18]:
li.append("kartik")

In [19]:
li.insert(0,"dayalan")

In [20]:
li

['dayalan',
 'rahul',
 'harini',
 'priyam',
 'anil',
 'ravi',
 'priya',
 'kartik',
 'kartik']

In [47]:
extra=['diya','sh','shubham','madi']

In [48]:
li.extend(extra)

In [49]:
li

['anil',
 'dayalan',
 'harini',
 'kartik',
 'priya',
 'ravi',
 'diya',
 'sh',
 'shubham',
 'madi']

In [23]:
li

['dayalan',
 'rahul',
 'harini',
 'priyam',
 'anil',
 'ravi',
 'priya',
 'kartik',
 'kartik']

In [24]:
del li[3]           #delete the specified value

In [28]:
li

['dayalan', 'rahul', 'harini', 'anil', 'ravi', 'priya', 'kartik']

In [26]:
li.pop()

'kartik'

In [29]:
li

['dayalan', 'rahul', 'harini', 'anil', 'ravi', 'priya', 'kartik']

In [34]:
li.remove("rahul")

ValueError: list.remove(x): x not in list

In [35]:
li

['dayalan', 'harini', 'anil', 'ravi', 'priya', 'kartik']

In [36]:
if 'python' in li:
    print('exist')
else:
    print('not exist')

not exist

In [37]:
li.count('ravi')                    #tells the count of specified value

1

In [38]:
li.sort()                 #sort the list in ascending order

In [39]:
li

['anil', 'dayalan', 'harini', 'kartik', 'priya', 'ravi']

In [42]:
li.sort(reverse=True)

In [43]:
li

['ravi', 'priya', 'kartik', 'harini', 'dayalan', 'anil']

In [44]:
li.reverse()
li

['anil', 'dayalan', 'harini', 'kartik', 'priya', 'ravi']

In [45]:
l2.reverse()
l2

[43, 23, 90, 87, 67, 54, 13]

In [11]:
x=20
y=12
if x<y:
    print("false")
elif x>y:
    print("true")

true