In [ ]:
# a)Create a variable rollno and assign an integer value it. Print the value of rollno, the id, and the data type.

In [4]:
roll_no= 4
print(roll_no)
print(id(roll_no))
print(type(roll_no))

4
140726753072008
<class 'int'>

In [ ]:
# b)Create a variable firstname and assign a string value to it. Print the value of firstname, the id, and the data type.

In [76]:
first_name = "harsh"
print(first_name)
print(id(first_name))
print(type(first_name))

harsh
1612986489328
<class 'str'>

In [ ]:
# C) Create a variable lastname and assign a string value to it. Print the value of lastname, the id, and the data type.

In [77]:
last_name = "singh"
print(last_name)
print(id(last_name))
print(type(last_name))

singh
1612986544368
<class 'str'>

In [ ]:
# d)Create a variable maxmarks and assign the value 50 to it. Print the value of maxmarks, the id, and the data type.

In [8]:
max_marks = 50
print(max_marks)
print(id(max_marks))
print(type(max_marks))

50
140726753073480
<class 'int'>

In [ ]:
# Task 2: Naming a Variable
#Execute the following expressions individually and explain the observations (if any) for each of them: a)
#a) var1 = 2
#b) 2var = 2
#c) var 1 = 2
#d) var$2 = 2

In [9]:
var1=2

In [10]:
print(var1)

2

In [11]:
2var =2      #cannot start a variable name with numbers, it should always start with a letter

SyntaxError: invalid decimal literal (3911145163.py, line 1)

In [12]:
var 1 = 2    #cannot use space in between variables while creating variables , use underscore instead of space

SyntaxError: invalid non-printable character U+00A0 (214014353.py, line 1)

In [13]:
var$2 = 2   #cannot use $ , we can only use underscore while creating variables

SyntaxError: invalid decimal literal (1620301137.py, line 1)

In [ ]:
#Task 3: Assigning Values to a Variable 
#Execute the following expressions individually and explain the observations (if any) for each of them:
#a) Class = 15
#b) class = 14
#c) DEF = 13
#d) def = 12
#e) a=TRUE
#f) b=false

In [14]:
Class = 15

In [15]:
print(Class)

15

In [16]:
 class = 14  #cannot use reserved keywords as variable names

SyntaxError: invalid syntax (4141196902.py, line 1)

In [17]:
DEF = 13

In [18]:
print(DEF)

13

In [19]:
def = 12  #cannot use def as variable name as it is use to define function in python

SyntaxError: invalid syntax (1759817278.py, line 1)

In [20]:
a=TRUE   #The error in the statement a = TRUE is due to the use of the incorrect boolean value.

NameError: name 'TRUE' is not defined

In [21]:
b=false  #In Python, the correct keyword for representing a boolean false value is False (with an uppercase 'F').

NameError: name 'false' is not defined

In [ ]:
#Task 4: Using id()
#a) Create a variable named marks and assign it a float value between 0 and 100. Print the value, the id, and the data type.
#b) Change the value of marks to any other float value between 0 and 100. Print the value of marks, the id, and the data type.
#c) Is the id for the marks variable in the last two questions the same or different? Explain with justification.

In [22]:
marks = 2.2

In [23]:
print(marks)
print(id(marks))
print(type(marks))

2.2
1612985783248
<class 'float'>

In [25]:
marks = 20.9
print("value=",marks)
print(id(marks))
print(type(marks))

value= 20.9
1612985782928
<class 'float'>

In [ ]:
# The ID for the marks variable in the last two questions is different. 
#When the value of the marks variable is changed, a new float object is created, 
#The ID will change whenever the value of the variable is reassigned.

In [ ]:
#Task 5: Formatting the Output
#a) Define a variable maxmarks and assign it the value 100. Divide marks by maxmarks. Print the output as a percentage. Example of expected output: 87.00%
#b) Print the value of the variable fullname by joining firstname and lastname.Example of expected output: John Doe
#Note: These are the variables from Task 1.
#c) Print the value of the variable fullname with the text
"scored", followed by the percentage of marks.
Example of expected output: John Doe scored 87.00%.

In [8]:
max_marks = 100
marks = 87.00
percentage = (marks/max_marks) * 100 

print("The percentage is:", percentage)

The percentage is: 87.0

In [9]:
first_name = "harsh"
last_name = "singh"
fullname = first_name+ " "+ last_name
print("fullname:",first_name+ " "+ last_name)

fullname: harsh singh

In [12]:
print(fullname,"scored",percentage,"%")

harsh singh scored 87.0 %

In [14]:
#Task 6: Creating Data Structures
#a) Use the variable rollno as a key and the variable fullname as a value to create a dictionary data structure.
#Note: The variables above are from the previous tasks.
#b) Use the variables rollno, fullname, and marks as the values to create a list data structure.
#Note: The variables above are from the previous tasks.

In [52]:
d = {4:"harsh singh"}

In [53]:
print(d)

{4: 'harsh singh'}

In [54]:
l1 = [4,"harsh singh",87]

In [55]:
print(l1)

[4, 'harsh singh', 87]

In [ ]:
#Task 7: Arithmetic Operations
#Execute the following expressions and explain the observations of the output: a 1 + "2" b)
#a) 1+"2"
#b) "1" + "2"
#c) 1/2
#d) 1//2

In [56]:
1+"2"   #it show error because it is not possible to add int and str

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [57]:
"1" + "2"   #we are adding two strings so the output will be 12

'12'

In [58]:
 1/2 #division

0.5

In [59]:
1//2  #floor divison

0

In [ ]:
#Task 8: Logical Operations
#Execute the following commands and explain the output for each:
#True and True
#True and False
#False or True
#False or False

In [60]:
True and True  #use of AND logical operator, result is True only if both operands are True.

True

In [61]:
True and False    #result is True only if both operands are True.so here we have True and False result is False

False

In [62]:
False or True   #use of or logical operator. the result is True if at least one of the operands is True.

True

In [65]:
False or False  #the result is True if at least one of the operands is True.so here we have False or False result will be False

False

In [ ]:
#Task 9: Identity and Membership Operations 
#a) Compare firstname and fullname using the "in" operator. Print and explain the output.
#b) Compare firstname and fullname using the "is" operator. Print and explain the output.

In [69]:
first_name in fullname   #memership operator will check whether first_name is present in fullname or not if it is present it will return True else False

True

In [70]:
first_name is fullname  #identity operator checks for object identity.

False

In [17]:
#Task 10: Associativity
#Given that a=4, b=3, c=2, d= a**b+c, and e = a**(b+c)
#a) Print the value of d.
#b) Print the value of e.
#c) Explain why the values of d and e are same or different.

In [18]:
a=4 
b=3 
c=2 
d= a**b+c 
e = a**(b+c)

In [16]:
print(d)

66

In [19]:
print(e)

1024

In [ ]:
#both ouputs are different as in python we solve expressions using PEMDAS , so in output of d it gives priority to exponent
#in output of e it gives priority to parenthesis that is why we get different output