Task 1: Factorial of a Number
Using "while" loop, write a program to calculate the factorial of a number n. Accept the number n as an input from the user.
Factorial of a number is the product of all consecutive numbers up to that number.
Example:
Input: 5
Processing: 5! = 5 x 4 x 3 x 2x1
Output: 120

In [8]:
n =int(input("enter a number:"))
fact =1
while n>0:
    fact = fact * n
    n = n-1
print("factorial is",fact)

enter a number:5
factorial is 120

In [7]:
n = int(input("number:"))
fact = 1
for i in range(1,n+1):
    fact = fact*i
print("Factorial of",n,"is",fact)

number:5
Factorial of 5 is 120

Task 2: Prime Numbers
Create a program that uses "while" loop to check if 50 and 51 are prime numbers.
Note: A prime number is a number that is only divisible by 1 or itself.
Eg: 2, 3, 5, 7, 11 etc. are prime numbers.

In [22]:
n=int(input("enter a number:"))
count=0
i=1
while(i<=n):
    if n%i==0:
        count=count+1
        
    i=i+1
if count==2:                                          #if it has only two 2 factors then it is prime number
    print("yes it is prime number")
else:
    print("not prime")

enter a number:34
not prime

In [1]:
n=int(input("enter a number:"))
flag = 0
for i in range(2,n):
    if n%i==0:
        flag=1
if flag==0:
    print("it is a prime number")
        
else:
    print("not a prime number")

enter a number:7
it is a prime number

Task 3: Sum of All Digits
Take input of a five-digit number from the user. Write a program using the "while" loop to calculate the sum of the digits of the number entered by the user.
For example:
If the number entered by the user is 12345, then the output will be 1+2+3+4+5=15.
Note: You may use either the "for" loop or the
"while" loop to perform this task. Using "for" loops has a simpler approach to this problem

In [31]:
count = 0

n = int(input("enter a 5 digit number:"))
while (n>0):
    r=n%10
    count=count+r
    n=n//10
print(count)

enter a 5 digit number:12345
15

Task 4: Fibonacci Series
Using "while" loop, write a program to display the Fibonacci series up to 7 values. The output would be as follows: 0, 1, 1, 2, 3, 5, 8
Fibonacci series is a sequence of numbers in which each number is the sum of the two preceding numbers, starting from the third number. The first two numbers are always 0 and 1.
1 = 0 + 1
2 = 1 + 1
And so on..

In [36]:
a=int(input("enter a number:")) 
n1=0
n2=1

print(n1, end=" ,")
print(n2, end=" ,")
while a > 2:
    n3 = n1 + n2
    print(n3, end=" ,")
    n1=n2
    n2 =n3
    a= a-1

enter a number:7
0 ,1 ,1 ,2 ,3 ,5 ,8 ,

In [2]:
num = int(input("enter a number:"))
x=0
y=1
z=0
while(z<=num):
    print(z)
    x=y
    y=z
    z=x+y

enter a number:4
0
1
1
2
3

Task 5: Adding Two tuples
Create two tuples, t1=(1,2,3) and t2=(4,5,6).
Display the ids of both tuples.
Execute the command t1 = t1 + t2.
Display the ids of both tuples after the above operation.
Is there any change in the ids of both tuples? Why or why not?
Note: The id() function returns the unique identifier of a variable.

In [71]:
t1 = (1,2,3)
t2 = (4,5,6)
id(t1)

2408222651328

In [72]:
id(t2)

2408222832320

In [73]:
t1=t1+t2
print(t1)

(1, 2, 3, 4, 5, 6)

In [74]:
id(t1)

2408222773824

In [75]:
id(t2)

2408222832320

 tuples are immutable, which means their values cannot be changed after creation. After concatinating, new tuple is created, and the variable is then assigned to this new tuple so the id of t2 remain same but id of t1 is changed

Task 6: Inserting Data Into Sets
Consider the following data structures: m = ‹10, 20, 30, 40, 50} # m is a set
n = [33, 40, 55, 60, 70] # n is a list
Insert the elements of list n into set m one by one and print the output.
What happened to the elements that were common in the two data structures? Provide explanation.
Note: Use the "add" function to insert elements into the set. You may use either the "for" loop or the "while" loop 
    to perform this task.

In [10]:
m ={10,20,30,40,50}
n = [33,40,55,60,70]
for i in n:
    m.add(i)
print(m)

{70, 10, 20, 30, 33, 40, 50, 55, 60}

The set ensures that each element is unique.

Task 7: Iterating Over a Dictionary Data
Structure
Using "while" loop, create a program that prints those key-value pairs that contain values which are even numbers.
Data_Set = {'Python': 1, Data': 2, 'Excel': 3, 'SQL': 4}
Sample output:
Data: 2
SQL: 4
Note: You are recommended to use "for" loops to perform this task.

In [3]:
Data_Set = {'Python': 1,' Data': 2, 'Excel': 3, 'SQL': 4}

In [6]:
for a,i in Data_Set.items():
    if i%2==0:
        print(a,":",i)

 Data : 2
SQL : 4

Task 8: Populating a Dictionary Data
Structure
Write a Python program to create a dictionary where the keys are the integers from 1 to 15 and the values are squares of the keys.
Eg. {1:1, 2:4, ...}
Once the above dictionary is created, add a new element {100:10000} to this dictionary.
Hint: Create an empty dictionary first. Use the "update" command to insert data.
D=S
D.update({key:value})

In [108]:
d1= {x: x**2 for x in range(1,16)}
print(d1)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

In [109]:
d1.update({100:1000})
print(d1)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 100: 1000}