In [1]:
num = 10
i=1
while i<num:                    #run till 9
    print(i)
    i=i+1                       #incrementing by 1

1
2
3
4
5
6
7
8
9

In [ ]:
#number multiple of 8

In [8]:
n=11
i=1
while i<n:
    print(i*8)
    i=i+1

8
16
24
32
40
48
56
64
72
80

In [11]:
i=0
while i<len(li):
    if type(li[i])==str:
        print(li[i])
    i=i+1

anil
ramesh
hello

In [1]:
li=['anil',12,'ramesh','hello',23]

In [9]:
li[1]

12

In [ ]:
#finding the sum of first 5 odd numbers
1+3+5+7+9

In [16]:
i=1
ct=0
total=0

In [17]:
while ct<5:
    if i%2==1:
        total = total+i
        ct=ct+1
    i=i+1
print(total)

25

In [5]:
li

['anil', 12, 'ramesh', 'hello', 23]

In [6]:
iterator = iter(li)           #An iterator is an object that contains a countable number of values.

                             #An iterator is an object that can be iterated upon, meaning that you can traverse through all the values.

                 #Technically, in Python, an iterator is an object which implements the iterator protocol, which consist of the methods

In [7]:
iterator

In [8]:
next(iterator)

'anil'

In [9]:
next(iterator)

12

In [10]:
next(iterator)

'ramesh'

In [11]:
next(iterator)

'hello'

In [12]:
next(iterator)

23

In [13]:
next(iterator)

StopIteration:

In [24]:
tup1 = ('Anil',12, 'Sunil','Ramesh','salman', 12, 'sameer',90.13)

In [25]:
tup1

('Anil', 12, 'Sunil', 'Ramesh', 'salman', 12, 'sameer', 90.13)

In [26]:
tup1[0:4]

('Anil', 12, 'Sunil', 'Ramesh')

In [27]:
tup1[::-1]

(90.13, 'sameer', 12, 'salman', 'Ramesh', 'Sunil', 12, 'Anil')

In [28]:
s1={1,3,2,4,5,7,2,3,5,6,7,8,6}          #set()

In [29]:
s1.add(10)

In [30]:
s1

{1, 2, 3, 4, 5, 6, 7, 8, 10}

In [31]:
s1.remove(5)

In [32]:
s1

{1, 2, 3, 4, 6, 7, 8, 10}

In [10]:
d1 = {'k1':129, 'k2':231, "k3":543, "k4":879}
d1

{'k1': 129, 'k2': 231, 'k3': 543, 'k4': 879}

In [11]:
d1['k3']

543

In [16]:
sum(d1.values())

1782

In [35]:
d1.keys()

dict_keys(['k1', 'k2', 'k3', 'k4'])

In [37]:
d1.values()

dict_values([129, 231, 543, 879])

In [38]:
d1.items()

dict_items([('k1', 129), ('k2', 231), ('k3', 543), ('k4', 879)])

In [27]:
for _, i in d1.items():
    print(i)

129
231
543
879

In [46]:
for a,i in d1.items():
    print(i,a)

129 k1
231 k2
543 k3
879 k4

In [47]:
li1=[12,4,3,5,6,4,3,7,9,0,4,2,65,7,90]

In [29]:
for i in range(0,11):
    if i ==7:
        break
    print(i)

0
1
2
3
4
5
6

In [50]:
for i in range(0,11):
    if i ==7:
        continue                  #skip 7 and continue
    print(i)

0
1
2
3
4
5
6
8
9
10

In [31]:
[i**3 for i in range(0,11)]                               #cube of numbers till 10

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [52]:
li

['anil', 12, 'ramesh', 'hello', 23]

In [56]:
{x: str(x)[::-1] for x in li}            #dictionary comprehension

{'anil': 'lina', 12: '21', 'ramesh': 'hsemar', 'hello': 'olleh', 23: '32'}

In [61]:
{x: len(str(x)[::-1]) for x in li}

{'anil': 4, 12: 2, 'ramesh': 6, 'hello': 5, 23: 2}

In [1]:
name = [ "Manjeet", "Nikhil", "Shambhavi", "Astha" ]                        
roll_no = [ 4, 1, 3, 2 ]  
 
# using zip() to map values
mapped = zip(name, roll_no)
 
print(set(mapped))

{('Manjeet', 4), ('Nikhil', 1), ('Astha', 2), ('Shambhavi', 3)}