Task 1
Create a Pandas Series variable to assign unique student
IDs to the 40 students. The student IDs must start from the number 1001, increasing by 1 for each student.
Display the student IDs of all the students.

In [1]:
import pandas as pd
import numpy as np

In [2]:
student_id= np.arange(1001,1041)
index = np.arange(1,41)

In [8]:
series_student =pd.Series(student_id, index=index)
print("Student IDs of all the students")
series_student

Student IDs of all the students

1     1001
2     1002
3     1003
4     1004
5     1005
6     1006
7     1007
8     1008
9     1009
10    1010
11    1011
12    1012
13    1013
14    1014
15    1015
16    1016
17    1017
18    1018
19    1019
20    1020
21    1021
22    1022
23    1023
24    1024
25    1025
26    1026
27    1027
28    1028
29    1029
30    1030
31    1031
32    1032
33    1033
34    1034
35    1035
36    1036
37    1037
38    1038
39    1039
40    1040
dtype: int32

Task 2
The physics and mathematics scores of 40 students is provided in the form of a list in the Jupyter notebook.
Store the scores in two separate Pandas Series variables and display them.
Note: The student IDs generated in Task 1 will become the row index for this task.

In [9]:
maths_marks=[35, 86, 63, 90, 50, 63, 15, 72, 15, 54, 72, 83, 58, 70, 92, 40, 59, 63, 53, 59, 55, 85, 18, 83, 67, 85, 46, 59, 77, 71, 77, 56, 79, 61, 82, 76, 60, 52, 88, 78]
physics_marks=[85, 94, 63, 59, 76, 64, 87, 55, 51, 71, 54, 94, 33, 72, 75, 67, 85, 15, 50, 50, 19, 55, 59, 65, 76, 13, 57, 70, 51, 94, 55, 50, 71, 91, 75, 51, 90, 70, 87, 56]

In [10]:
maths_marks_series = pd.Series(maths_marks,index= student_id)
physics_marks_series = pd.Series(physics_marks ,index= student_id)

In [11]:
maths_marks_series

1001    35
1002    86
1003    63
1004    90
1005    50
1006    63
1007    15
1008    72
1009    15
1010    54
1011    72
1012    83
1013    58
1014    70
1015    92
1016    40
1017    59
1018    63
1019    53
1020    59
1021    55
1022    85
1023    18
1024    83
1025    67
1026    85
1027    46
1028    59
1029    77
1030    71
1031    77
1032    56
1033    79
1034    61
1035    82
1036    76
1037    60
1038    52
1039    88
1040    78
dtype: int64

In [12]:
physics_marks_series

1001    85
1002    94
1003    63
1004    59
1005    76
1006    64
1007    87
1008    55
1009    51
1010    71
1011    54
1012    94
1013    33
1014    72
1015    75
1016    67
1017    85
1018    15
1019    50
1020    50
1021    19
1022    55
1023    59
1024    65
1025    76
1026    13
1027    57
1028    70
1029    51
1030    94
1031    55
1032    50
1033    71
1034    91
1035    75
1036    51
1037    90
1038    70
1039    87
1040    56
dtype: int64

Task 3
Create and display Pandas Series variable containing the sum of scores of physics and mathematics, 
along with the student ID's.

In [13]:
sum_of_maths_and_physics =maths_marks_series+physics_marks_series

In [14]:
sum_of_maths_and_physics_series = pd.Series(sum_of_maths_and_physics,index=student_id)

In [12]:
print("sum of scores of physics and mathematics :")
sum_of_maths_and_physics

sum of scores of physics and mathematics :

1001    120
1002    180
1003    126
1004    149
1005    126
1006    127
1007    102
1008    127
1009     66
1010    125
1011    126
1012    177
1013     91
1014    142
1015    167
1016    107
1017    144
1018     78
1019    103
1020    109
1021     74
1022    140
1023     77
1024    148
1025    143
1026     98
1027    103
1028    129
1029    128
1030    165
1031    132
1032    106
1033    150
1034    152
1035    157
1036    127
1037    150
1038    122
1039    175
1040    134
dtype: int64

Task 4
The cut-off score to qualify for round 1 is 120 marks out of a maximum marks of 200. This includes the marks of both mathematics and physics.
List down the student IDs of the qualifying students.

In [5]:
condition = sum_of_maths_and_physics>=120
print("List of the students IDs of the qualifying students")
a = sum_of_maths_and_physics[condition]
a

NameError: name 'sum_of_maths_and_physics' is not defined

Task 5
Create a data frame containing the sum of math and physics scores of all 40 students, where the sum of score exceeds 120. The column name in this data frame must be "round 1 qualifiers"
Note: The row index/label must contain the student IDs of the 40 students generated in Task 1.

In [15]:
df1=pd.DataFrame(a,columns=["Round 1 Qualifiers"])
df1

      Round 1 Qualifiers
1001                 120
1002                 180
1003                 126
1004                 149
1005                 126
1006                 127
1008                 127
1010                 125
1011                 126
1012                 177
1014                 142
1015                 167
1017                 144
1022                 140
1024                 148
1025                 143
1028                 129
1029                 128
1030                 165
1031                 132
1033                 150
1034                 152
1035                 157
1036                 127
1037                 150
1038                 122
1039                 175
1040                 134

In [ ]:
pd.DataFrame({"round 1":a})

Task 6
Create a data frame of the students who qualify for round
2 The conditions to qualify for round 2 are as follows
• Minimum score of 50 in math.
• - Minimum score of 50 in physics.
• Sum of maths and physics scores is 120.
The column name in the data frame should be "round 2 qualifiers". The data values in this column should be the student IDs of the qualifying students.
Hint: Use the below code to get started
x = physics_ser(physics ser >= 50) & (maths_ ser >=50)]
Physics_ser is the Pandas Series variable that holds the physics scores of students.

In [20]:
condition1 = (maths_marks_series>=50) & (physics_marks_series>=50) & ((sum_of_maths_and_physics>120))
round_2_qualifiers  = physics_marks_series[condition1]
df2 = pd.DataFrame(round_2_qualifiers, columns = ["round 2 qualifiers"])
df2

      round 2 qualifiers
1002                  94
1003                  63
1004                  59
1005                  76
1006                  64
1008                  55
1010                  71
1011                  54
1012                  94
1014                  72
1015                  75
1017                  85
1022                  55
1024                  65
1025                  76
1028                  70
1029                  51
1030                  94
1031                  55
1033                  71
1034                  91
1035                  75
1036                  51
1037                  90
1038                  70
1039                  87
1040                  56

Task 7
Display the count of the students who qualify for the round 2

In [130]:
print("The total count of students who qualified for round 2 are" ,len(df2))

The total count of students who qualified for round 2 are 28