In [ ]:
# task 1

In [ ]:
nyc_time = 22
france_time = 22+6-24
print("Time in France",france_time,"am")

In [ ]:
#Task 2

In [5]:
euro_to_dollar = 1.1*500           
service_charge= (euro_to_dollar*(1.75/100))
Total_cost =  service_charge + euro_to_dollar
print("Matt will need to spend about", Total_cost ,"dollars to get 500 Euros including the 1.75% service charge. ")

Matt will need to spend about 559.625 dollars to get 500 Euros including the 1.75% service charge.

In [ ]:
#Task3

In [6]:
new_exp = 4000+(4000*(20/100))
france_exp = (new_exp/30)*45
print("Matt will need approximately" ,france_exp, "for his 45-day trip to France.")

Matt will need approximately 7200.0 for his 45-day trip to France.

In [12]:
#task4

In [11]:
principal = 20000
rate = 5
profit = principal*(rate/100)
print("Matt will earn",profit,"as profit")

Matt will earn 1000.0 as profit

In [ ]:
#task5

In [17]:
km =12
mile_1 = 0.602
walking_nyc = km *mile_1 
print("Matt should practice walking approximately",walking_nyc)

Matt should practice walking approximately 7.224

In [ ]:
#task6

In [18]:
kilometer = 3328
mile_1 = 0.602
miles = kilometer*mile_1
no_laps = miles/1.2
print(no_laps)

1669.5466666666666

In [ ]:
#task7

In [1]:
one_lap_time = 2
hour = 60

break_time = 10

five_laps = 5*one_lap_time

total_time = five_laps + break_time

no_of_cycles_hour = hour/total_time

lunch_break = 60

ride_only = 10

total_ride_time_and_break = ride_only*no_of_cycles_hour

total_ride_time_and_break_min = total_ride_time_and_break*total_time

total_time_lunchbreak = total_ride_time_and_break_min + lunch_break

one_lap_distance = 1.2

total_distance_per_day = 660*0.6

total_distance_miles = 3328*0.602 # 1km=0.602 miles, 3328*0.602=2003.456

total_no_laps = total_distance_miles/one_lap_distance

total_no_days = total_no_laps/135

print("The athlete need approximately",total_no_days,"days")

The athlete need approximately 12.367012345679012 days

In [ ]:
#task8

In [2]:
daily = 10
days = 7
no_of_weeks =2
total = daily*days*no_of_weeks

one_oz = 30

total_ml = total*one_oz

no_of_bottles = total_ml/750

print("The number of bottles is: ",no_of_bottles)

The number of bottles is:  5.6