Task 1: Spell Bee Competition
Later, 5 more students approached Julia to participate in the Spell Bee competition. Help Julia add these 5 names in the existing list of 15 students, one by one.
Note: Accept the names of the 5 students as an input from the user. Do not use a pre-populated list of names.

In [1]:
data= ["Mark Antony","John Chan","Bret Lee","Jim Nick","Janice Ken","Florida Thomson","Lily Jason","Matt Antony","Mark Thomas",
      "Kenny Peterson","Joe Cook","Alexander Thomas","Katy Perry","Alexanderia Peterson","Mark Antony"]
for i in range(5):
    new_names = input("enter names ")
    data.append(new_names)
    
    
print(data)

enter names kartik
enter names harsh
enter names rahul
enter names zoya
enter names anika
['Mark Antony', 'John Chan', 'Bret Lee', 'Jim Nick', 'Janice Ken', 'Florida Thomson', 'Lily Jason', 'Matt Antony', 'Mark Thomas', 'Kenny Peterson', 'Joe Cook', 'Alexander Thomas', 'Katy Perry', 'Alexanderia Peterson', 'Mark Antony', 'kartik', 'harsh', 'rahul', 'zoya', 'anika']

Task 2: Spell Bee Competition (contd.)
Julia wants to check the names of the last 5 students who signed up later. Help Julia print the names of all students in the list in reverse order.

In [2]:
data= ["Mark Antony","John Chan","Bret Lee","Jim Nick","Janice Ken","Florida Thomson","Lily Jason","Matt Antony","Mark Thomas",
      "Kenny Peterson","Joe Cook","Alexander Thomas","Katy Perry","Alexanderia Peterson","Mark Antony"]
for i in range(5):
    new_names = input("enter names ")
    data.append(new_names)
print("list of names in revere order:",data[::-1])

enter names kartik
enter names harsh
enter names rahul
enter names zoya
enter names anika
list of names in revere order: ['anika', 'zoya', 'rahul', 'harsh', 'kartik', 'Mark Antony', 'Alexanderia Peterson', 'Katy Perry', 'Alexander Thomas', 'Joe Cook', 'Kenny Peterson', 'Mark Thomas', 'Matt Antony', 'Lily Jason', 'Florida Thomson', 'Janice Ken', 'Jim Nick', 'Bret Lee', 'John Chan', 'Mark Antony']

In [5]:
data= ["Mark Antony","John Chan","Bret Lee","Jim Nick","Janice Ken","Florida Thomson","Lily Jason","Matt Antony","Mark Thomas",
      "Kenny Peterson","Joe Cook","Alexander Thomas","Katy Perry","Alexanderia Peterson","Mark Antony"]
for i in range(5):
    new_names = input("enter names ")
    data.append(new_names)
data.reverse()                                 #used reverse() 
print("list of names in revere order:",data)

enter names kartik
enter names harsh
enter names anika
enter names zoya
enter names arjun
list of names in revere order: ['arjun', 'zoya', 'anika', 'harsh', 'kartik', 'Mark Antony', 'Alexanderia Peterson', 'Katy Perry', 'Alexander Thomas', 'Joe Cook', 'Kenny Peterson', 'Mark Thomas', 'Matt Antony', 'Lily Jason', 'Florida Thomson', 'Janice Ken', 'Jim Nick', 'Bret Lee', 'John Chan', 'Mark Antony']

Task 3: Spell Bee Competition (contd.)
Perform Task 2 again, without using the built-in method for reversal in Python

In [3]:
data= ["Mark Antony","John Chan","Bret Lee","Jim Nick","Janice Ken","Florida Thomson","Lily Jason","Matt Antony","Mark Thomas",
      "Kenny Peterson","Joe Cook","Alexander Thomas","Katy Perry","Alexanderia Peterson","Mark Antony"]
for i in range(5):
    new_names = input("enter names ")
    data.append(new_names)
print("list of names in revere order:",data[::-1])

enter names kartik
enter names harsh
enter names rahul
enter names zoya
enter names anika
list of names in revere order: ['anika', 'zoya', 'rahul', 'harsh', 'kartik', 'Mark Antony', 'Alexanderia Peterson', 'Katy Perry', 'Alexander Thomas', 'Joe Cook', 'Kenny Peterson', 'Mark Thomas', 'Matt Antony', 'Lily Jason', 'Florida Thomson', 'Janice Ken', 'Jim Nick', 'Bret Lee', 'John Chan', 'Mark Antony']

Task 4: Spell Bee Competition (contd.)
Help Julia check for any duplicate entries in the list of 20 students' names. Create a new list named final_list that does not have any names repeated.

In [10]:
data = ["Mark Antony", "John Chan", "Bret Lee", "Jim Nick", "Janice Ken", "Florida Thomson", "Lily Jason", "Matt Antony",
        "Mark Thomas", "Kenny Peterson", "Joe Cook", "Alexander Thomas", "Katy Perry", "Alexanderia Peterson",
        "Mark Antony"]

for i in range(5):
    new_name = input("Enter a name: ")
    data=set(data)                                           #converted into set to remove duplicate values
    data.add(new_name)                                       #to add value in set
    
print("final_list:",data)

Enter a name: anika
Enter a name: harsh
Enter a name: kartik
Enter a name: rahul
Enter a name: zoya
final_list: {'Alexanderia Peterson', 'Florida Thomson', 'Mark Antony', 'John Chan', 'kartik', 'Matt Antony', 'Alexander Thomas', 'Lily Jason', 'Janice Ken', 'zoya', 'Jim Nick', 'Kenny Peterson', 'anika', 'Joe Cook', 'Katy Perry', 'Bret Lee', 'harsh', 'Mark Thomas', 'rahul'}

Task 5: Spell Bee Competition (contd.)
Help Julia display the names of the students from final list, in alphabetical order

In [3]:
final_list =  {'Alexanderia Peterson', 'Florida Thomson', 'Mark Antony', 'John Chan', 'kartik', 'Matt Antony', 
               'Alexander Thomas','Lily Jason', 'Janice Ken', 'zoya', 'Jim Nick', 'Kenny Peterson', 'anika', 'Joe Cook', 
               'Katy Perry','Bret Lee', 'harsh', 'Mark Thomas', 'rahul'}

In [4]:
sorted_list = sorted(list(final_list))
print(sorted_list)
type(sorted_list)

['Alexander Thomas', 'Alexanderia Peterson', 'Bret Lee', 'Florida Thomson', 'Janice Ken', 'Jim Nick', 'Joe Cook', 'John Chan', 'Katy Perry', 'Kenny Peterson', 'Lily Jason', 'Mark Antony', 'Mark Thomas', 'Matt Antony', 'anika', 'harsh', 'kartik', 'rahul', 'zoya']

list

Task 6: The students at the 2nd, 12th, and the last position in final_list got selected in the Spell Bee competition. 
Help Julia save the names of these students in a different list and display them separately.
Note: The list index begins at 0. The 2nd student would be at index location 1.

In [1]:
final_list = ['Janice Ken', 'Mark Thomas', 'John Chan', 'Katy Perry', 'ravi', 'Kenny Peterson', 'harsh', 'rahul', 'Bret Lee', 
        'Alexander Thomas', 'Mark Antony', 'Alexanderia Peterson', 'ramesh ', 'Joe Cook', 'Jim Nick', 'Florida Thomson',
        'Matt Antony', 'sourabh', 'Lily Jason']

selected_list = [final_list[1], final_list[11], final_list[-1]]

print(selected_list)

['Mark Thomas', 'Alexanderia Peterson', 'Lily Jason']

Task 7: Spell Bee Competition (contd.)
Write a program to count the number of integers between 555 and 678 that are divisible by 7.
Note: Exclude 555 and 678.

In [7]:
count=0
n=int(input("enter number:"))
for i in range(556,678,1):
    if i%n==0:
        count=count+1
print(count)

enter number:7
17

Task 8: Spell Bee Competition (contd.)
Write a Python program that prints the first 30 natural numbers but skips all numbers that are multiples of n. Accept the value of n as an input from the user.
Note: Natural numbers are positive integers (1, 2, 3, etc.).

In [15]:
n=int(input("Enter the number:"))
for i in range(0,31,1):
    if i%n !=0:
        print(i)

Enter the number:3
1
2
4
5
7
8
10
11
13
14
16
17
19
20
22
23
25
26
28
29

In [10]:
n = int(input("Enter the number:"))
count = 0

for i in range(1, 31):
    if i % n != 0:
        print(i, end=' ')
        count += 1

        if count == 30:
            break

Enter the number:3
1 2 4 5 7 8 10 11 13 14 16 17 19 20 22 23 25 26 28 29

Task 9: Spell Bee Competition (contd.)
Consider the lists below:
firstlist = [1, 21, 3, 4,5, 6, 7,18, 4]
secondlist = [19, 1,17, 6, 15,14, 13, 2,11]
Find the sum of the corresponding elements of firstlist and secondlist, store them in a list named thirdlist, and print the result.
Sample input:
First = [1, 2, 3]
Second = [10, 20, 30]
Sample output: [11, 22, 33]

In [78]:
firstlist = [1, 21, 3, 4, 5, 6, 7, 18, 4]
secondlist = [19, 1, 17, 6, 15, 14, 13, 2, 11]
thirdlist = []
l = len(firstlist)                                 #len(firstlist) returns the number of elements in the firstlist as the length
for i in range(l):
    thirdlist.append(firstlist[i] + secondlist[i])

print(thirdlist)

[20, 22, 20, 10, 20, 20, 20, 20, 15]

In [19]:
firstlist = [1, 21, 3, 4, 5, 6, 7, 18, 4]
secondlist = [19, 1, 17, 6, 15, 14, 13, 2, 11]
thirdlist = []
                           
for i in range(len(firstlist)):
    thirdlist.append(firstlist[i] + secondlist[i])

print(thirdlist)

[20, 22, 20, 10, 20, 20, 20, 20, 15]