In [1]:
d1 ={ 'key1': 1,"key2":2,"key3":3,"key4":4}

In [2]:
d1.get("key1")

1

In [13]:
d1.keys()

dict_keys(['key1', 'key2', 'key3', 'key4'])

In [4]:
sum(d1.values())

10

In [2]:
print(sum(d1.values()))

10

In [ ]:
d2 = [1,2,3,4,5,]

In [ ]:
sum(d2)

In [ ]:
my_tuple = (1, 2, 3)

In [ ]:
sum(my_tuple)

In [ ]:
a=[1,2,3,4,5,6]
b=[2,3,4,5,6,7]
c=[3,4,5,6,7,8]

In [ ]:
sum(a)

In [ ]:
add= lambda a,b,c:a+b+c

In [ ]:
print(add)

In [ ]:
d =list(map(add,a,b,c))

In [ ]:
print(d)

In [ ]:
#concat three lists into one list

In [ ]:
d=a+b+c

In [ ]:
print(d)

In [ ]:
tup1 = (1,2,3,4,5)

In [ ]:
sum(tup1)

In [ ]:
#print names which start with r

In [ ]:
l2 = ["rahul","arjun","anika"]

In [ ]:
print(l2[0])

In [ ]:
l2 = ["rahul", "arjun", "nikhil"]

for word in l2:
    if word.startswith('a'):
        print(word)
        break
else:
    print("No word with the letter 'r' found in the list.")

In [5]:
d1 ={ 'key1': 1,"key2":2,"key3":3,"key4":4}

In [6]:
d2={ 'key1': 2,"key2":4,"key3":6,"key4":8}

In [7]:
numperson ={}

In [8]:
add = sum(d1.values())
print(add)

10

In [9]:
for key in d1:                                          #Method 1
    numperson[key]=d1[key] +d2[key]
print(numperson)

{'key1': 3, 'key2': 6, 'key3': 9, 'key4': 12}

In [ ]:
sum_values1 = dict(map(lambda key:  (key,d1[key] + d2[key]), d1))         #method 2

In [ ]:
print(sum_values1)

In [10]:
for i in d1:
    numperson[i] = d1[i]+d2[i]                      
print(numperson)

{'key1': 3, 'key2': 6, 'key3': 9, 'key4': 12}

In [19]:
d1.values()

dict_values([1, 2, 3, 4])

In [ ]:
tup2 = (1,2,3,4,5)
tup3 = (2,5,6,7,8)

In [ ]:
tup2+tup3

In [ ]:
add3 = (lambda tup2,tup3:tup2+tup3)

In [ ]:
print(add3)

In [ ]:
tuple(map(add3,tup2,tup3))

In [1]:
n=int(input("enter number: "))
flag =0
for i in range(2,n):
    if n%i==0:
        flag =1
if flag == 0:
    print("yes it is prime")
else:
    print("not a prime")

enter number: 7
yes it is prime

In [7]:
d1 ={ 'key1': 1,"key2":2,"key3":3,"key4":4} 
sm = 0
for value in d1.values():
    if value%2==0:
        sm = sm+value
print(sm)

6

In [ ]:
print(sm)

In [ ]:
n=int(input("enter n"))
x=0
y=1
z=0
while(z<=n):
    print(z)
    x=y
    y=z
    z=x+y

In [ ]:
n=int(input("enter n "))
fact =1
for i in range(1,n+1):
    fact = fact*i

print(fact)

In [ ]:
li = ['kartik','harsh']

In [ ]:
print(li[::-1])

In [ ]:
. Write a Python program that uses the len() function to find the length of a given string and the 
number of elements in a list.

In [ ]:
s="hello"
l1 = ["a","b","c","harsh","neeraj"]
print(len(s))
print(len(l1))

26). Write a Python program that uses the max() and min() functions to find the largest and smallest 
numbers in a given list.

In [ ]:
numbers = [9,10,11,2,4]

# Find and display the largest and smallest numbers
max_number = max(numbers)
min_number = min(numbers)

# Display the results
print("Original List:",numbers)
print("Largest Number:",max_number)
print("Smallest Number:",min_number)

In [3]:
x=2
y=34
if x>y:
    print("x is greater than y")
elif y<x:
    print("y is greater than x")

In [4]:
def add_num(a,b):
    print(a+b)
add_num(2,4)

6

In [5]:
x = [1, 2, 3]
y = [1, 2, 3]

# Check if x and y refer to the same object using the is operator
if x is y:
    print("x and y refer to the same object")
else:
    print("x and y do not refer to the same object")

x and y do not refer to the same object

In [2]:
d1 = {"abc":5, "xyz":3}
print(d1[0])

KeyError: 0

In [4]:
set1 = {0,0,9}
print(set1)

{0, 9}

In [6]:
set1= {2,5,3}
set2 = {3,1}
set3=set1&set2
print(set3)

{3}

In [8]:
tup1 = (2,3,4)
tup3 = tup1*2
print(tup3)

(2, 3, 4, 2, 3, 4)

In [10]:
set1 = ((0,9,0))
print(set1)

(0, 9, 0)

In [12]:
set1 =set([0,2,9])
print(set1)

{0, 9, 2}

In [14]:
dict =  {"abx":1,"roxy":2}
dict.update({"phoebe":3})
print(dict)

{'abx': 1, 'roxy': 2, 'phoebe': 3}

In [18]:
tup1 = ("abi","zoya","anika")
print(tup1[-3:0])

()

In [19]:
tup1= (1,2,3,4,5)
tup1.pop(2)
print(tup1)

AttributeError: 'tuple' object has no attribute 'pop'

In [21]:
x=[50,70]
def func(x):
    print("x is", x)
    x[0] = 2
    print("change local x to ",x)
func(x)
print("x is now",x)

x is [50, 70]
change local x to  [2, 70]
x is now [2, 70]

In [27]:
k=[2,3,4]
list(reversed(k))

[4, 3, 2]

In [28]:
def mysery(nums):
    out = []
    for num in nums:
        if num<0:
            continue
        else:
            out.append(num)
    return out

In [31]:
mysery(nums)

NameError: name 'nums' is not defined

In [38]:
def fullname(firstname,lastname):
    fullname = "{}{}{}".format(firstname,lastname)
    print(fullname)
fullname(lastname='nckdncds',firstname='acbas')

IndexError: Replacement index 2 out of range for positional args tuple

In [42]:
def change(i=1,j=2):
    i=i+j
    j=j+1
    print(i,j)
change(j=1,i=2)

3 2

In [44]:
x=75
def myfunc():
    x=x+1
    print(x)
myfunc()
print(x)

UnboundLocalError: cannot access local variable 'x' where it is not associated with a value

In [46]:
print(min(max(False,-3,-4),2,7))

False

In [47]:
x=50
def fck(x):
    print("x is x",x)
    x=2
    print("change local x to",x)
fck(x)
print("x is now",x)

x is x 50
change local x to 2
x is now 50

In [48]:
print (min(max(False, -3, -4), 2,7))

False

In [1]:
import pandas as pd
LoD = [{"a":10, "b":20}, {"a":5, "b":10, "c":20}, {"a":7,"d":10, "e":20}]
D1 = pd.DataFrame(LoD)

In [2]:
D1

    a     b     c     d     e
0  10  20.0   NaN   NaN   NaN
1   5  10.0  20.0   NaN   NaN
2   7   NaN   NaN  10.0  20.0

In [3]:
min (max (False, - 3, -4), 2, 7)

False

In [4]:
import numpy as np
a = np. array ([[1,3,5], [2,4,6]])
print(a.size)

6

In [6]:
import numpy as np
array = [[0, 1, 2, 3, 0], [5, 6, 0, 7]]

In [7]:
array

[[0, 1, 2, 3, 0], [5, 6, 0, 7]]

In [8]:
import numpy as np
array = [[ 0, 1, 2, 3, 0, 0, 5, 6, 0, 7]]

In [9]:
array

[[0, 1, 2, 3, 0, 0, 5, 6, 0, 7]]

In [5]:
for num in range(2, 11):  # We start from 2 since 1 is not a prime number
    is_prime = True
    
    # Check for factors
    for i in range(2, num):
        if (num % i) == 0:
            is_prime = False
            break
    
    # Print the number if it's prime
    if is_prime:
        print(num)

2
3
5
7

In [ ]:
n=int(input("enter number: "))
flag =0
for i in range(2,n):
    if n%i==0:
        flag =1
if flag == 0:
    print("yes it is prime")
else:
    print("not a prime")

In [10]:
for n in range(2,100):
    is_prime = True
    
    for i in range(2,n):
        if(n%i)==0:
            is_prime=False
            break
    if is_prime:
        print(n)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [9]:
n = int(input("enter a number"))      #fibnoccci
x=0
y=1
z=0
while(z<=n):
    print(z)
    x=y
    y=z
    z=x+y

enter a number3
0
1
1
2
3

In [16]:
def fact(t):
    if t==0:
        return 1
    else:
        return t*fact(t-1)

In [17]:
fact(5)

120

In [21]:
name = ["Benjamin","Liam" , "John", "Smith" , "Warner", "David", "Micheal", "James", "Dennis", "Rossum"]
Sal=  [25000, 26000, 23000, 27000, 28000, 28500, 24000, 30000, 29000, 24700]

In [22]:
Ser = pd.Series(Sal,index=name)
Ser

Benjamin    25000
Liam        26000
John        23000
Smith       27000
Warner      28000
David       28500
Micheal     24000
James       30000
Dennis      29000
Rossum      24700
dtype: int64

In [20]:
import pandas as pd
import numpy as np

In [23]:
a=pd.DataFrame(Ser)

In [24]:
a

              0
Benjamin  25000
Liam      26000
John      23000
Smith     27000
Warner    28000
David     28500
Micheal   24000
James     30000
Dennis    29000
Rossum    24700